[2017-07-26 22:18] tejainece opened #3 "Implement relations"
Implement

- HasOne
- BelongsTo
- HasMany

relationships.

[2017-07-26 22:18] tejainece opened #4 "Implement migrations"
Implement migrations

[2017-07-26 22:22] tejainece opened #5 "Implement angular-like GenBean specification"
Implement angular-like GenBean specification

[2017-07-26 22:23] tejainece opened #6 "Add create table method to generated bean"
Add create table method to generated bean

[2017-09-21 19:45] tejainece opened #7 "Insert should support relationship cascading"
Insert methods should support relationship cascading

[2017-09-21 19:45] tejainece opened #8 "Update should support relationship cascading"
Update methods should support relationship cascading

[2017-09-21 19:46] tejainece opened #9 "Remove should support relationship cascading"
Remove methods should support relationship cascading

[2017-09-21 19:49] tejainece opened #10 "Find many by list of primary key"
Method to get many rows by list of primary keys

[2017-09-21 22:16] tejainece opened #11 "Create table method"
Add create table method to generated bean

[2017-09-21 22:16] tejainece opened #12 "Drop table method"
Add drop table method to generated bean

[2017-09-22 20:38] tejainece opened #13 "BelongsTo as a proxy of ForeignKey.withBean"
`BelongsTo` annotation as a proxy of `ForeignKey.withBean`

[2017-09-22 20:39] tejainece opened #14 "Deduce association automatically when it is null"

[2017-09-23 17:55] tejainece commented on #14
Linking foreign keys is completely automatic now. No hint needed!

[2017-09-23 17:55] #14 closed

[2017-09-24 16:54] tejainece commented on #3
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/f26e72f90a877fc27d8ea119c13fce7e3ca4b1db

[2017-09-24 16:54] #3 closed

[2017-09-24 16:55] tejainece commented on #7
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/f26e72f90a877fc27d8ea119c13fce7e3ca4b1db

[2017-09-24 16:55] #7 closed

[2017-09-24 16:55] tejainece commented on #8
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/f26e72f90a877fc27d8ea119c13fce7e3ca4b1db

[2017-09-24 16:55] #8 closed

[2017-09-24 16:55] tejainece commented on #9
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/f26e72f90a877fc27d8ea119c13fce7e3ca4b1db

[2017-09-24 16:55] #9 closed

[2017-09-24 16:56] tejainece commented on #11
Duplicate of https://github.com/Jaguar-dart/jaguar_orm/issues/6

[2017-09-24 16:56] #11 closed

[2017-09-24 16:56] tejainece commented on #12
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/f26e72f90a877fc27d8ea119c13fce7e3ca4b1db

[2017-09-24 16:56] #12 closed

[2017-09-24 16:57] tejainece commented on #13
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/f26e72f90a877fc27d8ea119c13fce7e3ca4b1db

[2017-09-24 16:57] #13 closed

[2017-09-24 17:56] tejainece commented on #5
Fixed in https://github.com/Jaguar-dart/jaguar_orm/commit/b77b2420fbe45451799e8a3738284b646169ad73

[2017-09-24 17:56] #5 closed

[2017-09-24 20:54] tejainece commented on #6
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/3158f4cf73dc5e3039bcba2672a106400781efe8

[2017-09-24 20:54] #6 closed

[2018-02-26 16:36] sandrobilbeisi opened #15 "Dart SDK v2 support ?"
Dear all,

any idea as to when the maintainers of this package will expand compatibility to Dart SDK v2 ?

[2018-02-26 16:40] tejainece commented on #15
Starting work on it tonight

[2018-02-26 17:31] sandrobilbeisi commented on #15
;-)

[2018-06-27 07:58] tejainece opened #16 "Implement insert many in jaguar_query"
Add feature to insert multiple rows with a single call

[2018-06-27 07:59] tejainece opened #17 "jaguar_query: Add transaction"
Implement transaction begin, rollback and commit on `Adapter` interface

[2018-06-27 08:00] tejainece opened #18 "jaguar_query: Implement migration"
Implement table migrations

[2018-06-27 08:03] tejainece opened #19 "Alter table statement"
Implement alter table statement.

[2018-06-27 16:07] tejainece commented on #15
A little late. But jaguar_orm has been upgraded to Dart2 by https://github.com/Jaguar-dart/jaguar_orm/commit/73ec8d28746229a5a1725123fe0a99b11df9cee2

[2018-06-27 16:07] #15 closed

[2018-07-05 06:26] jaumard opened #20 "Flutter usage"
Is it possible to use this package with Flutter (sqlite database) ?
Would be awesome as currently on Flutter there nothing as I know (except plugin to make raw sql queries...).

If it doesn't work with Flutter can it work ? Maybe I can check to add Flutter support if it's not too difficult ^^

[2018-07-05 07:21] tejainece commented on #20
It definitely works with Flutter. Will make an example.

[2018-07-05 07:35] jaumard commented on #20
That would be awesome !!!!

[2018-07-05 08:34] jaumard opened #21 "LICENSE ?"
In order to use (or knowing if we can) jaguar in enterprise environment we need to have a license. I look several repository of jaguar that might save us a lot of time lol but can't use them until we know which license you put on those repo
Thanks

[2018-07-05 08:44] kevin-sakemaer commented on #21
All jaguar project use the same license iirc, you should find the license file next to the pubspec.yaml of the project.
for the orm you can found it here https://github.com/Jaguar-dart/jaguar_orm/blob/master/orm/LICENSE

[2018-07-05 08:46] jaumard commented on #21
Ho I'm used to find them a root level of the project lol sorry :D I should have more...
Thanks a lot

[2018-07-05 08:46] #21 closed

[2018-07-05 09:37] jaumard commented on #20
I dig into the source code and didn't see any sqlite adapter. When you say it works with flutter it's with a local database in the phone ?

[2018-07-05 12:34] jaumard commented on #20
FYI: I manage to genera a Bean under a flutter project, but I had to downgrade path to 1.6.0 and build_runner to 0.8.9 in order to fix dependency conflicts with flutter :(

Are you open to PR for an SQLite adapter compatible flutter ?

Is there any documentation on how create an adapter or should I dig into existing one ?

[2018-07-05 12:58] tejainece commented on #20
You can use `dependency_overrides:` in your project and set:

[code]

Hopefully, Flutter will soon move to latest sdk.

[2018-07-05 13:00] tejainece commented on #20
PRs are always welcome!

This is a very good reference Adapter implementation:

https://github.com/Jaguar-dart/jaguar_orm/blob/master/postgres/lib/src/adapter.dart

[2018-07-05 13:06] jaumard commented on #20
Hum I tried the `dependency_overrides` but didn't manage to make it work :(

This:
[code]

Give me :
[code]

Thanks for the reference ! I'll take a look and try implement something ^^

[2018-07-05 14:31] tejainece commented on #20
Hi,

I have started an implementation of `sqflite` for `jaguar_orm`: https://github.com/Jaguar-dart/jaguar_orm/tree/master/sqflite

There are examples. But **untested**.

The implementation is complete but untested. I will add tests in a few hours.

Send in a PR, if you find something odd.

[2018-07-05 14:33] tejainece commented on #20
Eventually, we should publish the Flutter and sqflite example to this repository: https://github.com/jaguar-orm/sqflite

[2018-07-05 15:32] jaumard commented on #20
Thanks  @tejainece ! I'll check that and make a PR if I found something wrong/weird ^^

[2018-07-05 15:36] tejainece commented on #20
The package is now published: https://pub.dartlang.org/packages/jaguar_query_sqflite

[2018-07-05 15:38] jaumard commented on #20
That was fast ^^ but I already notice some problem around SQL generation, some data type are not supported by sqlite :) so this version might not work

[2018-07-05 15:42] tejainece commented on #20
There is working example here now: https://github.com/jaguar-orm/sqflite

[2018-07-05 16:17] tejainece commented on #20
@jaumard If you don't mind, I will close this issue and create a new issue to add more tests to make sure sqflite composer is solid.

I am currently updating sqflite example to have differetn field types. Also generating its bean using `jaguar_orm.`

[2018-07-05 16:18] tejainece opened #23 "Add tests to make sure sqflite composer is solid"

[2018-07-05 16:19] jaumard commented on #20
No problem at all ! :)

[2018-07-05 16:19] #20 closed

[2018-07-05 16:58] tejainece opened #24 "Add `findAll` to generated Bean"

[2018-07-05 16:58] tejainece opened #25 "Add `updateFields` to generated Bean"

[2018-07-05 17:35] tejainece commented on #23
@jaumard Have tested all different field types: https://github.com/jaguar-orm/sqflite/blob/master/lib/post.dart

[2018-07-05 18:09] jaumard commented on #23
Cool !!
Are you able to read them back correctly ? Because on my PR I guess it was for the save, but once you read back the values bool and dateTime need to be converted back from integer 0/1 (maybe automatic this one) and text to datetime

[2018-07-05 18:11] tejainece commented on #23
Yes. I have added readback capability using `parseValue` method on `Adapter`.

Try the example project.

[2018-07-05 18:20] jaumard commented on #23
I'll for sure :) but can't right now and I was curious :D thanks !

[2018-07-06 06:19] jaumard commented on #23
@tejainece I'm going to test right now, but I just saw this on the doc of sqflit https://github.com/tekartik/sqflite/blob/master/doc/opening_db.md interesting part is that only one database can be opened (all other will have database locked) it mean that on the Adapter we can't pass only the path, we have to pass the full database object as it has to be a singleton. With the current implementation

[2018-07-06 06:31] jaumard commented on #23
Made a PR with my fix to have it working on my side https://github.com/jaguar-orm/sqflite/pull/1

[2018-07-06 06:39] jaumard commented on #16
Same for delete and update would be nice too :)

[2018-07-06 07:34] tejainece commented on #23
@jaumard Agree, we have to pass the full database path.

Same adapter can be shared with all beans, if it is the same database.

[2018-07-06 08:16] jaumard commented on #23
I tried a simple one to one relation but it doesn't seems to work :(

Here is the generated insert method:

[code]
Why returning null now and not the id ? For me the correct generated method should be:
[code]

Because in case of auto increment id, the model.id will be null on the current behavior.

Also auto increment is not working, apparently some mistake in the sql query. I'll try to check why

[2018-07-06 08:51] tejainece commented on #23
@jaumard Did you tag the primary key field with `@PrimaryKey()` annotation. It will return the new id, if you tag the field.

[2018-07-06 08:57] jaumard commented on #23
@tejainece yes I use your repo example and you put the `@PrimaryKey()` annotation on it

[2018-07-06 09:00] jaumard commented on #23
If you want to check I put everything here https://github.com/jaumard/sqflite/tree/bugfix/fix_example

[2018-07-06 09:16] tejainece commented on #23
Fixing.

[2018-07-06 09:17] tejainece commented on #23
Could you send a pull request of your changes?

[2018-07-06 11:25] tejainece opened #26 "Return insert id for models with associations"

[2018-07-06 11:27] tejainece commented on #26
@jaumard Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/aee69f74dfa7d5fbe953cccfc0d6b940ba0bba21

Also updated the sqflite example: https://github.com/jaguar-orm/sqflite

[2018-07-06 11:39] tejainece commented on #24
Already present. Called `getAll`.

[2018-07-06 11:39] #24 closed

[2018-07-06 11:44] jaumard commented on #26
Cool ! I'll check that thanks !

[2018-07-06 11:54] tejainece opened #28 "Enhanced `update` methods"
Implement:
+ [x] `updateOnly`
+ [ ] `updateFieldsById`
+ [x] `updateFields`:

[code]

[2018-07-06 11:55] tejainece opened #29 "Add `Map<String, Field> get fields;` to bean. Generate `fields`."
Add `Map<String, Field> get fields;` to bean. Generate `fields`.

[2018-07-06 11:55] tejainece commented on #28
Blocked by https://github.com/Jaguar-dart/jaguar_orm/issues/29

[2018-07-06 11:56] jaumard commented on #26
There still a problem @tejainece :/
Here is what you push (so I guess with your fix)

[code]

the problem is here `newModel ??= await find(model.id);`
model.id is null in case of auto increment, you need to have `newModel ??= await find(retId);` instead

[2018-07-06 12:11] jaumard opened #30 "Generation is wrong when oneToOne and oneToMany on same object"
Here is what my model look like:

[code]

And this is what is generate:
[code]
There is a duplication of the bean that cause trouble in multiple places in the generated code

[2018-07-06 12:12] tejainece commented on #26
Fixing it.

[2018-07-06 12:24] jaumard opened #31 "Many to many pivot class autogenerated"
From the example of many to many the pivot class is done manually, in most case we don't case about this class, would be nice to have the possibility to generate it automatically if not already specify

[2018-07-06 12:41] tejainece commented on #26
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/2bd9d814635a9cfffc90e3024afd949d0cf5c086

Also updated the sqflite example.

[2018-07-06 12:41] #26 closed

[2018-07-06 12:47] tejainece commented on #30
Different relations between same two models is not supported.

[2018-07-06 12:48] tejainece commented on #30
Isn't this, a very uncommon scenario?

[2018-07-06 12:52] jaumard commented on #30
In my previous work we had this a lot, where you can have like

[code]

Or something like:
[code]

Maybe it's uncommon but might be nice to have at some point, for now I don't know enough the data I'll nice to put in DB to know if I need this but if I need I might work on this :)
Should be only generation problem as both separately are handle correctly

[2018-07-06 12:56] tejainece commented on #30
Ok.

How do you differentiate if a row belongs to the scalar (masterCategory) or the list (subCategories) when fetching it?

[2018-07-06 12:59] jaumard commented on #30
OneToOne and OneToMany is not possible (or not easily)
but OneToOne and ManyToMany is "easy" because oneToOne will have the given id inside his table and subCategories will be under the pivot table

[2018-07-06 13:05] tejainece commented on #30
Ok :)

[2018-07-06 17:55] tejainece opened #32 "Write wiki pages"
+ [ ] Getting started
+ [ ] Where Expression
+ [ ] What is a Bean?
+ [ ] Generating a Bean
+ [ ] Relations
    + [ ] One to one
    + [ ] One to many
    + [ ] Many to many
+ [ ] Fields

[2018-07-07 22:31] tejainece commented on #29
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/9914860a27d43b2bbc1f7e69ca93a8cb705dd0d0

[2018-07-07 22:31] #29 closed

[2018-07-09 06:39] jaumard opened #33 "findAll and findWhere cascade/preload"
Just notice that those method can't load associations (or I miss something ^^), might be a nice addition

[2018-07-09 06:45] jaumard commented on #33
Just notice the preload and preloadAll methods but preloadAll is empty for many to many ^^
I'll a preloadWhere would be useful

[2018-07-09 06:56] jaumard opened #34 "UpdateAll and insertAll method"
Would be nice to have to be able to make bulk operation, will be also faster to do one request will all model than loop on all of them to insert/update

[2018-07-09 08:34] tejainece commented on #33
Will fix it.

[2018-07-17 08:19] tejainece opened #35 "preloadAll not generated for many to many"
As @jaumard mentioned in https://github.com/Jaguar-dart/jaguar_orm/issues/33, `preloadAll` is not generated for many to many.

[2018-07-17 14:53] tejainece opened #36 "Clean up Bean interface"

[2018-07-17 16:43] tejainece commented on #36
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/c9e85a2e0ea12db622793a35b5e79bf658abcca6

[2018-07-17 16:43] #36 closed

[2018-07-17 19:20] tejainece commented on #35
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/8909999aecfedad503c80500434ec3aa5df040f8

[2018-07-17 19:20] #35 closed

[2018-07-17 19:20] tejainece commented on #33
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/8909999aecfedad503c80500434ec3aa5df040f8

[2018-07-17 19:20] #33 closed

[2018-07-17 19:21] #30 closed

[2018-07-17 19:21] #31 closed

[2018-07-17 19:21] #28 closed

[2018-07-17 19:23] #18 closed

[2018-07-18 08:20] jaumard commented on #31
Is this close because it's done ?

[2018-07-18 09:11] jaumard opened #37 "Generator last version doesn't work / crash"
Just try to update deps on the sqflite example and nothing is working anymore.
Here is the stack

[code]

[2018-07-18 09:12] jaumard commented on #37
Is there any breaking changes and I need to update anything else ?

[2018-07-18 19:59] tejainece commented on #37
Hey,

Sorry, tried to upgrade orm to Dart2 65. Flutter still uses 58. Will switch it back.

[2018-07-20 09:42] iqbalhood opened #38 "Logo Design Offer For JAGUAR ORM"
Hello Sir. I'm a UI/UX and Graphics Designer. who has contacted you via email last week.
These are my logo proposal for your application.
I'm very welcome if you have any comments, opinions, or revisions. Please just tell me.
I'll provide all file types and sizes you needed.
Hope you like it.

# Version 1
![jaguar with name app](https://user-images.githubusercontent.com/1563756/42995735-c55e52be-8

[2018-07-20 10:08] tejainece commented on #38
Wow! Love it!

[2018-07-20 10:10] tejainece commented on #38
Looks fantastic! I think we can use this across all Jaguar projects.

[2018-07-20 10:24] iqbalhood commented on #38
Well, thanks, What kind of Files do you need? I Will provide it for you

[2018-07-20 20:34] Pepperychef commented on #37
there is a solution to this problem?... trying to test jaguar_orm_gen: ^2.1.1 from dartlang and i'm having the same issue.

[2018-07-23 19:01] jaumard commented on #38
Look very good job ! :) love V2 more but both are good !

[2018-07-23 19:02] jaumard commented on #37
@tejainece is this just because you build it with 65 ? or is this dependency written somewhere ? Wasn't able to find it ^^ (sorry if it's a dumb question, still very new to dart)

[2018-07-23 22:48] tejainece commented on #38
@iqbalhood ico, png and webp would be great.

If you can provide photoshop or some editable vector format along with it to make miner changes later, that would be great too.

[2018-07-23 22:50] tejainece commented on #37
In Dart2, you can call constructors like functions. I replaced some such construction in calls out of practice.This has been allowed since Dart2 in preview mode. From 64 onwards, preview mode is the default mode.

Now, I am stuck whether to go back or wait for Flutter to move forward.

[2018-07-23 22:51] tejainece commented on #37
Will fix this tomorrow or day after

[2018-07-23 22:51] tejainece commented on #37
There are lot of local changes on my side, so don't sent pull request until i push. Some new features coming up.

[2018-07-24 05:39] jaumard commented on #37
You mean don't put the `new` keyword ? I already don't put them on my flutter code to avoid useless code ^^ but still have the crash, that's weird. Maybe flutter active the preview mode by default when it run but not when you generate code. Maybe the solution is just to put into the readme the command line to have the preview mode enable when generate code. Like this no need to revert until flutte

[2018-07-24 05:59] jaumard commented on #37
I tried to enable the preview mode but I guess it's not enough, still have problems:
[code]
Maybe because you use both relative and package import for the same file, I had the problem on my app with this and replace every import with package instead of relative, may work here too

[2018-07-24 06:02] jaumard commented on #37
Or maybe is just because you use build_runner 0.9.0 where flutter can't use it `Because kiwi_mobile depends on build_runner >=0.9.0 which requires SDK version >=2.0.0-dev.61 <3.0.0, version solving failed.
pub get failed (1)`

`0.8.3` max :/

[2018-07-24 08:06] tejainece commented on #37
Yes. That too. For 65+, you need build_runner 0.9.0. I was hoping Flutter would move to 65. They are very slow.

[2018-07-24 08:24] jaumard commented on #37
yeah the preview version didn't move since 50 days or something, and as they don't have any roadmap we're totally blind on that... annoying

[2018-07-24 08:27] tejainece commented on #37
So, I have fixed. `jaguar_orm`: `2.1.15`. `jaguar_orm_gen`: `2.1.8`. Please upgrade and test it and let me know.

It also contains new features like relations without associations, etc.

Pull requests are welcome.

[2018-07-24 08:32] tejainece commented on #37
I mean now. Pushed all my local changes.

[2018-07-24 08:33] tejainece commented on #4
Started an **experimental** implementation here: https://github.com/Jaguar-dart/jaguar_orm/commit/29f27d971eae111497c21fceceef26fb30b2abc1

[2018-07-24 08:34] tejainece commented on #4
The plan is to create a snapshot (an xml file) for each changes. Store these snapshot files.

Diff the snapshot files to migrate up or down.

[2018-07-24 08:34] tejainece commented on #4
Blocked by https://github.com/Jaguar-dart/jaguar_orm/issues/19

[2018-07-24 08:37] tejainece commented on #37
Also added some unit tests.

[2018-07-24 08:37] #25 closed

[2018-07-24 09:12] jaumard commented on #37
Yeah I need to more understand how jaguar orm / gen before being able to make PR ^^ but I will if I can for sure :)
Just tested those new versions but still have the `new` error and when I enable preview I have:
[code]
I put back all missing `new` to be able to generate but still one problem during generation:
[code]
Same problem when I test on the example https://github.com/jaguar-orm/sqflite man

[2018-07-24 10:16] tejainece commented on #37
Could you send pull request with all the `new` that you have added?

[2018-07-24 10:18] jaumard commented on #37
Done :)

[2018-07-24 10:20] tejainece commented on #37
Opps. Sorry man. Forgot to publish jaguar_orm_gen 2.1.15. Can you try now?

[2018-07-24 10:22] tejainece commented on #37
Also published your changes as `jaguar_orm_gen` `2.1.16`.

[2018-07-24 10:25] jaumard commented on #37
I test with the package locally so it doesn't matter if you release or not :)
On the example, the many to many is still broken with:
[code]
other example look ok (didn't run them but at least files are gen correctly)

[2018-07-24 10:27] tejainece commented on #37
Can I see the bean spec for this many to many example?

[2018-07-24 10:29] jaumard commented on #37
Do you mean this https://github.com/jaguar-orm/sqflite/tree/master/lib/many_to_many ? That's the one I test

[2018-07-24 10:30] jaumard opened #40 "If id is Int, insert method not gen correctly with association"
In SQLite, if you want an auto increment id, you need to put it as int, by doing so the insert method is not generated correctly in case of association:
[code]
Problem is that id method of Insert is waiting for a String not an int so it complain

[2018-07-24 10:38] tejainece commented on #37
Alright testing it.

[2018-07-24 10:51] tejainece commented on #40
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/e71b5a8a874c7b725d529986fb79cebe9663c037

[2018-07-24 10:57] #40 closed

[2018-07-24 10:58] tejainece commented on #37
WIP: Patched some of https://github.com/jaguar-orm/sqflite if you want to try with recent code.

Still untested. Testing it.

[2018-07-24 11:11] tejainece commented on #37
There have been some minor breaking changes in 2.1.15. Upgraded sqflite example to match them. Now, all generations work and there are no error. Will test it.

https://github.com/jaguar-orm/sqflite/commit/3b0a336e9c88dc1f5297660b48e423538f79c1ee

[2018-07-24 11:37] tejainece commented on #37
Tested them. All seem to function like before.

Let me know if I can close this issue.

[2018-07-24 11:39] jaumard commented on #37
Look good to me :) I'll open a new issue if needed, the generation work so let's close this one :)
Thanks for the quick fix !

[2018-07-24 11:39] #37 closed

[2018-07-24 11:42] jaumard opened #41 "Possibility to ignore fields during generation on getters"
I have this model:

[code]

The problem with this is that during generation, it's generating stuff for `amountLabel ` and `hashCode`.
Would be nice if the generator can automatically ignore those fields (don't know if it's possible or not) or at least having some kind of @ignore annotation maybe to just don't generate anything related to those :)

[2018-07-24 11:53] jaumard opened #42 "Possibility to have immutable model [enhancement]"
I'm used to work with immutable object to avoid side effect problems. Would be nice if the generator can adapt if the class is immutable :)

Example let's consider this class:
[code]

Then the generated `fromMap` look like:
[code]
Where the correct way would be:
[code]

Might have some changes to do around association too as it directly change the object:
[code]

When I understand better how this

[2018-07-24 12:10] jaumard commented on #34
Hey :) I want to look into this, do you have an idea on how implement this or not ?
I was looking to modify the Insert and Update class to add a `bulk(List<Map<String, dynamic>> values)` method on it.
Then we can have `final List<Map<String, dynamic>> _bulkValues = [];`, then adapters must be updated to check if it's a bulk insert/update and do whatever needed in both cases.
What do you think  @te

[2018-07-24 12:11] tejainece commented on #41
Is this what you are looking for: https://pub.dartlang.org/documentation/jaguar_orm/latest/jaguar_orm/IgnoreColumn-class.html?

[2018-07-24 12:16] tejainece commented on #34
Lets first do the `InsertMany` and then move on to `UpdateMany`.

How about a new `InsertMany` class and `insertMany` method on the adapter? Same goes for `UpdateMany`.

[2018-07-24 12:17] tejainece commented on #42
Very important. Low prio. Will implement this in a week's time.

[2018-07-24 12:19] jaumard commented on #41
Indeed ! Didn't see this one :) just tested but look like it doesn't work ^^ just tested on my example like this :
[code]
but it still generate me all the stuff to map/set/use it :(

[2018-07-24 12:20] jaumard commented on #41
Oups just read on model so I guess I use it wrong let me test this ^^

[2018-07-24 12:21] jaumard commented on #41
Hum nope as we can't specify which column we want to ignore so I guess my first try should be the way to use it :/

[2018-07-24 12:22] jaumard commented on #34
Hum ok let go that way see how it goes, at least no breaking changes for the other method :) I'll start trying the InsertMany :)

[2018-07-24 12:46] tejainece commented on #34
Yes. Also interface of `Insert` stay clean.

[2018-07-24 12:48] tejainece commented on #41
Does it work like this?

[code]

[2018-07-24 12:49] tejainece commented on #41
It should also work like this:

[code]

[2018-07-24 12:49] jaumard commented on #41
Not that was my first try but it still generate hashCode stuff :(

[2018-07-24 12:52] jaumard commented on #41
[code]
This one works great :) but the notation directly on the field looks better :p

[2018-07-24 13:02] tejainece commented on #41
Notation directly on the field works for fields. It seems to now work for **getters**. Will fix it.

[2018-07-24 13:04] jaumard commented on #41
Ho ok ! Tricky one :)

[2018-07-24 13:20] tejainece commented on #41
Fixed in https://github.com/Jaguar-dart/jaguar_orm/commit/2cfe558703d0f32c3ccca56b9e45b7147351b4da. Also published.

[2018-07-24 13:21] jaumard commented on #41
That was fast thanks ^^ :) I'll check that

[2018-07-24 13:21] tejainece commented on #41
Here is an example showing different ways to ignore: https://github.com/Jaguar-dart/jaguar_orm/blob/master/orm/example/model/basic/ignore_column.dart#L24

[2018-07-24 13:21] tejainece commented on #41
`hashCode` and `runtimeType` are ignored by default

[2018-07-24 13:24] tejainece commented on #41
Definitely. But Jaguar ORM and Jaguar Serializer also supports spec `@Gen*` so that model and serialization/database code can be kept separate and shared between server and client.

It is quite flexible. So you can put the annotations on both the places.

[2018-07-24 13:24] tejainece commented on #41
Let me know if this has fixed the issue.

[2018-07-24 14:10] jaumard commented on #41
Yes fixed for me :) thanks !

[2018-07-24 14:10] #41 closed

[2018-07-24 23:30] iqbalhood commented on #38
Hello Sir, This is All of the file format that you request.
https://drive.google.com/drive/folders/1rvP-j3yQa5Ps75471en_YQ3yO37JswgG?usp=sharing

I've also created a pull request to add a logo and modify the Readme.md file
https://github.com/Jaguar-dart/jaguar_orm/pull/44

[2018-07-25 07:27] tejainece commented on #38
Thanks Iqbal!

The pull request is now merged. Your logo is now Jaguar's official logo.

Thanks for the great work!

[2018-07-25 08:31] iqbalhood commented on #38
@tejainece is my logo accepted for jaguar_orm?

[2018-07-25 09:06] tejainece commented on #38
Yes. Its on the front page.

I will soon put it on the web page too here: https://jaguar-dart.github.io/

[2018-07-25 09:08] tejainece commented on #38
Oh my god! Sorry for the typo.

I meant "Your logo is now Jaguar's official logo.". Not "Your logo is not Jaguar's official logo.".

[2018-07-25 09:23] iqbalhood commented on #38
okay sir , thanks for the confirmation :) 👍

[2018-07-26 07:45] jaumard opened #46 "@Column nullable ignored"
Apparently nullable on column doesn't work:

I tried this:
[code]
or
[code]
But both generate this:
`st.addStr(product.name);`
instead of
`st.addNullStr(product.name);`

[2018-07-26 08:01] tejainece commented on #46
Yes. Known issue. Will fix this.

[2018-07-26 08:02] tejainece commented on #46
Was waiting to clean up `jaguar_query` api. `addNull*` is going away. Just `addStr(name, isNullable: true)`.

[2018-07-26 08:03] jaumard commented on #46
Nice will help also later for `isUnique`, `isIndex` 👍

[2018-07-26 08:34] jaumard opened #47 "Miss some cascade attribut"
- [ ] removeAll
- [ ] removeMany
- [ ] getAll (even if we can use preload function would be nice to have it here)

[2018-07-26 08:38] jaumard opened #48 "Update method association improvements"
Currently the update method call update method of his children, the problem is when you update the parent you might have added new children, in that case it should call insert and not update.
I know this one can be tricky as you don't know the schema of the children but it can be resolved by adding a insertOrUpdate method into bean, like this this one is aware of his own schema and can call insert

[2018-07-26 08:41] tejainece commented on #48
`upsert` you mean?

[2018-07-26 08:43] jaumard commented on #48
Hum yes I guess (always forget this one and doing it into code lol)

[2018-07-27 23:18] tejainece opened #50 "Upgrade jaguar_query_sqflite package to 2.2.x"

[2018-07-27 23:20] tejainece commented on #50
@jaumard Could you please upgrade `jaguar_query_sqflite` package to `2.2.x`?

One of the breaking changes is merging of `Col` and `Field` into `Field`. There are some minor simplifying changes too. You could use `jaguar_query_postgres` package for reference.

Thanks.

[2018-07-27 23:29] #38 closed

[2018-07-28 07:06] jaumard commented on #50
Sure :) let me look at this :)

[2018-07-28 07:48] jaumard commented on #50
@tejainece jaguar_query has strong dependency on jaguar_query_postgres where it should be the opposite jaguar_query shouldn't know about jaguar_query_postgres at all.
jaguar_query_postgres is put as dev_dep even if not only for dev.
I say that because jaguar_query_postgres doesn't work with flutter as it use an SDK too recent for now.

[2018-07-28 08:12] jaumard commented on #50
Also you have change update(tableName) from update()..into(tableName) but Find and Insert didn't change, I don't think is good to have different notation, it should be align

[2018-07-28 11:54] tejainece commented on #50
`jaguar_query_postgres ` is just a dev dependency. So there are some real life examples directly in the query repo. There is no actual dependence.

[2018-07-28 12:01] tejainece commented on #50
That change is based on how we describe it in english.

I have fixed the `Find` according to your suggestions.

[2018-07-28 12:08] tejainece commented on #50
Will also change insert statement according to your suggestions. Maybe consistency is more important that correlation with English language.

[2018-07-28 12:10] #50 closed

[2018-07-28 12:18] tejainece commented on #48
How do you suggest that we implement `upsert`? With a something like this?

[code]

[2018-07-28 13:14] tejainece commented on #46
`isNullable` and `uniqueGroup` has been added by https://github.com/Jaguar-dart/jaguar_orm/commit/a3cb1d9a45afeb29cb530333681470639450c084.

Please create new issue for `index`.

[2018-07-28 13:14] #46 closed

[2018-07-28 13:55] jaumard commented on #48
I guess this will work for postgres and mysql but I don't know for sqlite :/ but sqlite have a insert or replace that might do the job, but replace is different than update if you provide only few colums during the sql request :/

[2018-07-28 13:57] jaumard commented on #48
The easiest way would be to do it in the generated code ^^ `if(id) bean.update else bean.insert`, I'm not good and familiar enough with SQL to help you with this part, we can try your solution and see if it run on sqflite after :)

[2018-07-28 14:08] jaumard commented on #50
Hum in my opinion consistency is more important, even more because Insert(tableName) don't throw any error as it's a correct statement (it will probably crash at runtime)

[2018-07-28 14:58] tejainece commented on #50
Changed insert.

[2018-07-28 14:59] tejainece commented on #48
We cannot use presence or absence of primary key to find if it is update or insert because sometimes people set their own primary keys and sometimes it is autogenerated.

[2018-07-28 15:00] tejainece commented on #48
Cascade also wont remove the items for you.

[2018-07-28 15:02] tejainece commented on #34
`InsertMany` is complete I suppose? Can you also send a pull request for `UpdateMany`?

With that we can launch `2.2.x` version.

[2018-07-28 15:07] jaumard commented on #34
Yes insert many is complete I think, I started the updateMany but my lack of SQL make me struggle on what update sql request should I create for sqlite :/ once I figure that out I'll make a PR :)

[2018-07-29 12:15] jaumard commented on #48
that's true :) so do you have an idea on how fix this ?

[2018-08-10 09:15] kevin-sakemaer commented on #38
Hi @iqbalhood,
Thanks a lot for this amazing logo.
Could you provide a logo only that is a square ? like that we can also put it as the logo of the jaguar organization ?
Actually the logo only png is 446 width and 424 height
Thanks

[2018-08-10 10:31] tejainece commented on #38
@Kleak He delivered it. You can get it from here: https://drive.google.com/drive/folders/1ViMubdB_WGmSEojG8foBSjbl3Doq5YF0

[2018-08-10 10:33] kevin-sakemaer commented on #38
It's not a square 😕
If we use it the logo will be cut on a side

[2018-08-29 07:42] jaumard opened #55 "Sqflite adapter SDK update and example update"
https://github.com/jaguar-orm/sqflite is broken with last sqflite adapter (master)

Also now that flutter beta has a new version with dart 2 stable, the adapter need to update his `environment` to be usable in new flutter version

@tejainece can you help on this ? I'm stuck with a crash in the generator :( `The getter 'type' was called on null.` on many to many example

[2018-08-29 14:23] tejainece commented on #55
Does this occur with https://github.com/jaguar-orm/sqflite

[2018-08-29 14:26] jaumard commented on #55
Yes :)

[2018-08-29 14:35] tejainece commented on #55
I have no time today. Will try to fix it tomorrow.

[2018-08-29 15:32] jaumard commented on #55
No problem @tejainece can't manage to find where is the problem here ^^

[2018-09-04 12:00] jaumard commented on #34
I think this one is all good now :) closing it

[2018-09-04 12:00] #34 closed

[2018-09-10 06:19] juliusspencer opened #56 "Single quote ' text not escaped on insert"
Hi,

I'm using Flutter and have generated my class using:
`flutter packages pub run build_runner build`

I'm getting rows inserted into the database. 😀 However I'm having trouble with some items not being added because they contain a single quote in their text. 😕(eg. "MTHEM8101'CP")

`flutter: DatabaseException(Error Domain=FMDatabase Code=1 "near "CP": syntax error" UserInfo={NSLocalizedDescripti

[2018-09-10 07:20] tejainece commented on #56
Will fix this.

[2018-09-10 07:35] juliusspencer commented on #56
Thank you Ravi!

By the way, where is there a suitable place to ask questions?

[2018-09-10 07:36] jaumard commented on #56
@juliusspencer I'll say the jaguar Gitter channel is the better place for this :)

[2018-09-11 18:57] tejainece commented on #56
This is fixed in latest version of jaguar_query_sqflite. Please test it and close the issue if it is fixed.

Thanks.

[2018-09-11 19:34] #56 closed

[2018-09-18 13:30] jaumard commented on #42
Hey @tejainece what about this ? :) would be nice to have it like it is in jaguar_serializer ^^

[2018-09-18 14:15] tejainece commented on #42
Will work on this next week.

[2018-09-20 07:22] dylanjsa opened #58 "Postgres Adapter, Auto-Increment on Primary Key"
The auto-increment functionality does not seem to work with a PostgreSQL adapter.

The following model definition:
[code]

Generates the following table:
[code]

The test:
[code]
Fails with:
[code]

A manual insert also seems to fail, it's like the null constraint validation is run before the *default* script is run. Is there a correct way of doing this instead?

[2018-09-20 08:41] tejainece commented on #58
Will test this and get back.

[2018-09-20 08:42] tejainece opened #59 "ORM: Reflexive one-to-one and one-to-many relations"

[2018-09-20 13:50] tejainece commented on #59
@juliusspencer It is not being generated.

[2018-09-20 13:50] #59 closed

[2018-09-20 13:50] tejainece commented on #58
Reproduced this issue. Fixing it.

[2018-09-20 14:38] tejainece commented on #58
This has been fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/c0a6af5e8a2e4a7e6930c0bf6b4c7b5364019d6d

[2018-09-20 14:39] tejainece commented on #58
Please reopen the issue if it is not fixed.

Thanks!

[2018-09-20 14:39] #58 closed

[2018-09-20 14:39] tejainece commented on #55
This I think is fixed? Please reopen if the problem still exists.

[2018-09-20 14:39] #55 closed

[2018-09-21 11:48] jaumard commented on #48
@tejainece bump here :) I'll soon need this feature as I'm implementing a data synchronization system, so if the data is already in database I want the ORM to replace the data for me, not just return an error that the data exist. I don't mind trying to implement this but for now I have no idea how :/

[2018-09-24 13:09] #48 closed

[2018-09-25 07:07] jaumard opened #63 "Serialize in string column capabilities"
Would be nice to be able to serialize some field as string (or JSON type if supported by the DB).

It will allow doing stuff like:

[code]
or
[code]
It will prevent creating another table in DB if you don't care query this data.

[2018-09-25 07:41] tejainece opened #65 "Test reflexive relations"

[2018-09-25 07:41] tejainece opened #66 "Test upsert statement"

[2018-09-25 09:47] jaumard opened #69 "Immutability support relations"
If model are immutable, all generated code about relations doesn't compile anymore.

Mostly because if generate stuff like this:

[code]
as models are immutable it's not possible to access setters directly

[2018-09-26 08:04] juliusspencer opened #70 "Many to many relationships fail to load"
The preloadAll method call fails with a SQL error when the pivot table has no items in it.
[code]

[2018-09-26 08:22] tejainece commented on #70
This should be fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/a4491627a6c53a17e0fe32af92be8fbac1a3a158. Try `jaguar_orm_gen` `2.2.10`.

[2018-09-26 08:45] #70 closed

[2018-09-28 10:40] EthimjosVelo opened #71 "Improve code generator for update function."
**Problem**: The generator adds an additional await keyword when generating the code for the update function.

[code]

**Cause**: Taking a look at the generator's writer class, line 473, I saw that there is an additional call to the **_writeln()** function which prints the await keyword.

[code]

**Suggested Fix** : Remove the redundant function call **_writeln('await ')** at line 473;

[2018-09-28 15:40] EthimjosVelo opened #73 "Code generator generating duplicate bean get properties."
**Problem**: In some cases, depending on the relation between entities, the code generator
generates duplicate get properties for beans. Below is an example of a generated bean class:

[code]
The problem occurs in the first loop of the **_writeBeans()** function that deals with preloads. If the preload **p** is **PreloadManyToMany**, the writer writes the targetBean get property but does't keep tr

[2018-09-28 16:51] tejainece commented on #71
Good observations. Thanks for the report. I will fix this.

[2018-09-28 17:29] tejainece commented on #71
Should be fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/679f53b681fdd5f1e99ca359c595ab264ae1e8b8.

Please reopen the issue if this does not fix it.

Thanks!

[2018-09-28 17:29] #71 closed

[2018-09-28 17:41] tejainece commented on #73
Thanks for very clean insights into how to fix the issue. Saved a ton of my time. If you have time, you can send PR yourself. PRs are always welcome :).

The issue should be fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/33087976aee625ecb1b4308b3f5983d442f29fd1

Try `jaguar_orm_gen` version `2.2.14` in pub.

Please close the issue if it has been fixed.

Thanks!

[2018-09-30 09:27] tejainece commented on #73
Hi,

Is this fixed?

[2018-09-30 09:27] #65 closed

[2018-09-30 13:16] ethimjos-velo commented on #73
Hello!
I tested the suggested fix before creating the issue and it works. I haven't been able to pull the new version and try it but since it only contains the suggested changes that I  already tested I will consider the problem fixed and close the issue. I will try the new version on Monday and if something is wrong I will open this issue again.
Thanks for your great work!

[2018-09-30 13:16] #73 closed

[2018-10-04 15:20] EthimjosVelo opened #75 "Wrong library name for generator."
**Problem** : _jaguar_orm_gen_ and _jaguar_serializer_cli_ cannot be used at the same time because of a conflicting library name. As a result the build process fails for both packages.

**Cause** : The library name inside _generator/lib/builder.dart_ is not correctly defined. The actual library name is jaguar_serializer_cli.

[code]

**Suggested Fix**: Change the library name from jaguar_serialize

[2018-10-05 07:45] tejainece commented on #75
Thanks for the report!

Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/53984dd22afc96fe28fb06d55c56441d95918499.

Published as `2.2.16`.

Please reopen the issue if it persists.

[2018-10-05 07:45] #75 closed

[2018-11-20 17:41] jaumard opened #78 "preload preloadAll use wrong primary key"
I search a lot why I've got some NPE and figure that the preload methods aren't using the primary key correctly

here is what's generated:
[code]
But on my class my primary key is `extId` not `id`

[2018-11-21 08:58] jaumard commented on #78
My bad, I forget the `relCol`, again...

[2018-11-21 08:58] #78 closed

[2018-11-23 01:51] junjizhi opened #80 "Why is sqlite library called postgres?"
https://github.com/Jaguar-dart/jaguar_orm/blob/master/sqflite/lib/jaguar_query_sqflite.dart#L8

[2018-12-02 20:48] junjizhi opened #81 "Visit HasMany from BelongsTo? Is there a better way?"
In your Post-Item [one-to-many example](https://github.com/jaguar-orm/sqflite/blob/master/lib/one_to_many/item.dart), you have to define:

[code]
from the Item model, while in your Post model:

[code]
So it seems easy to visit from Post to Item: You simply preload a `post` object and get a list of `item`s. But the other way needs a bit more work, you have to do:

[code]
Is there a simpler way to d

[2018-12-05 11:01] artob opened #82 "Add support for flutter_sqlcipher"
The flutter_sqlcipher plugin bundles and wraps SQLCipher, an open-source extension to SQLite that provides transparent 256-bit AES encryption of database files.

- https://github.com/drydart/flutter_sqlcipher
- https://pub.dartlang.org/packages/flutter_sqlcipher
- https://pub.dartlang.org/documentation/flutter_sqlcipher/latest/

Would a pull request adding support for flutter_sqlcipher, parallelin

[2018-12-09 11:42] blackredscarf opened #83 "one-to-many return null in flutter"
A `class Post` include `List<Item> items`. When I use `postBean.getAll()`, the `items` is null.
[code]

Complete example:
[code]
[code]

[2018-12-13 08:52] tejainece commented on #83
Did you try setting `preload` parameter?

[2018-12-13 08:54] tejainece commented on #82
That would be great! Let me know if you need any help regard this. @jaumard Can also help.

I would suggest using existing sqlite package as a template.

[2018-12-13 08:57] tejainece commented on #81
This is not currently possible. Adding a member on the model class might not be possible for generation. However a `findPostFor` (or similar) method on the bean is possible. Would that help you?

[2018-12-13 08:58] tejainece commented on #80
Fixed

[2018-12-13 08:58] #80 closed

[2018-12-13 09:10] jaumard commented on #82
100% up for it :) from what I remember I think flutter_sqlcipher doesn't change that much from the normal one. instead of taking the sqlite as template, might be better to just depend on it and extend what we need to support encryption. My 2cts ^^
But if you need advice/info @artob don't hesitate to talk to me here or in Gitter to chat ;)

[2018-12-13 14:00] junjizhi commented on #81
@tejainece yeah. that's how I implemented at the end. Thanks for the reply!

[2018-12-13 14:14] blackredscarf commented on #83
It worked when I added the `preloadAll`.
[code]

[2018-12-13 14:14] #83 closed

[2018-12-17 13:41] jaumard opened #84 "Generated removeMany problem with empty list"
Here is what we generate for `removeMany`

[code]

Problem is if the list is empty, then we remove the entire table... not that good ^^

[2018-12-17 14:43] tejainece commented on #84
Maybe, we should check that `models` is empty. If it is empty, we should just return.

[2018-12-17 16:39] jaumard commented on #84
Sure :) but we might want to go further and don't allow empty where statement to prevent erasing data when it's not wanted :/ `adapter.remove(); ` remove everything, `adapter.remove(remove); ` will throw an exception ("need where clause"). I my opinion it will be better to have this as it can be useful for other methods than just removeMany

[2018-12-17 18:22] tejainece commented on #84
Agree

[2018-12-21 10:24] ozzy91 opened #85 "SqfliteAdapter batching is unused"
Both `updateMany` and `upsertMany` create and commit a batch in `SqfliteAdapter`.

The batch isn't used to execute any of the queries though, they are instead directly handled by the connection.

[code]

Instead of `connection.execute(query);` the query should be executed by the batch: `batch.execute(query);`

In my test this gave me a big performance boost of about 10x.

[2018-12-21 22:12] tejainece commented on #85
Can you make a pr?

[2018-12-21 22:13] tejainece commented on #85
@jaumard

[2018-12-22 07:14] jaumard commented on #85
nice catch @ozzy91 ! Miss that one :) thanks for the report!

[2018-12-22 11:16] #85 closed

[2018-12-30 18:50] shrugs opened #87 "upsert on ManyToMany always inserts join table rows"
Howdy! I've implemented a ManyToMany relation following the pattern in the example, and then `upsert`ed a few entries. The join table accumulates entries because there's no de-duplication or other method of determining if the relation already exists.

In my app I have "dots" (users) that can have many "lines" (chats) and "lines" (chats) can have many dots in them.

Here are the (simplified) models

[2018-12-30 19:13] shrugs commented on #87
Looking around the web, it seems like this was an old problem with rails as well; I haven't been able to find any recent examples of the behavior. the most popular suggestion is to check for the association's existence before writing it, and then back that up with a database unique index across the join table's properties.

[2018-12-30 19:57] shrugs opened #88 "feature: update only non-null model fields"
It would be helpful to support an `onlyNotNull` flag on `toSetColumns` operations (supported in insert, update, or upsert operations) so that we can update a partial model.

In my case, I want to be able to fetch a model from a remote store, store it in the database, and then frequently update a single field (the auth token), ideally using the same code that inserted the full model by parsing the

[2018-12-31 21:56] tejainece commented on #88
Will fix this.

[2019-01-02 16:46] MartinHlavna opened #89 "Generated insert and upsert statements for ManyToMany is using model instead of newModel in cascated attach statement"
Eviroment:
[✓] Flutter (Channel stable, v1.0.0, on Linux, locale C.UTF-8)
[✓] Android toolchain - develop for Android devices (Android SDK 27.0.3)
[!] Android Studio (not installed)
[✓] IntelliJ IDEA Ultimate Edition (version 2018.3)
[✓] Connected device (1 available)

Steps to reproduce:

1. Implement ManyToMany relation as seen in [example](https://github.com/jaguar-orm/many_to_many)
2. Run buil

[2019-01-02 17:05] MartinHlavna commented on #89
#90 should fix this

[2019-01-02 19:02] tejainece commented on #89
It has been merged and published.

[2019-01-02 19:28] tejainece commented on #87
Should be fixed by: https://github.com/Jaguar-dart/jaguar_orm/commit/f421f71c607dd20c338fb539a26ba9f5c3e19f10

Could you please test it and let me know if it works?

Thanks!

[2019-01-02 20:18] shrugs commented on #87
@tejainece It works! It might be worth noting that the table _must_ have a unique constraint on it for the upsert to do anything. Since my join table doesn't have a primary key, I added a unique index across the two references like so

[code]

and now everything is happy. Thanks for the super quick fix!

[2019-01-02 23:45] #87 closed

[2019-01-03 12:58] #89 closed

[2019-01-03 12:59] tejainece commented on #88
This has been implemented in https://github.com/Jaguar-dart/jaguar_orm/commit/fc7f452f31e450257b4500e7251ffd20f5109587.

Please test it and let me know if you face any problems.

Thanks!

[2019-01-03 19:08] shrugs commented on #88
Do you think `onlyNonNull` should be passed down to association updates/inserts/upserts as well?

At the moment they're not, so with models like this (I didn't include jaguar annotations)

[code]

if you try to do something like

[code]

the lines in the generated jorm file look like:

[code]

which makes the orm generate the full query for the association, which in this case will fail because `no

[2019-01-15 22:39] hjJunior commented on #20
How can I run `pub run build_runner build` to generate the code?

[2019-01-18 21:40] shrugs opened #92 "feature request: polymorphic relationships"
Any ideas for implementing polymorphic relationships?

In active record terms, it'd be expressed like

[code]

but unfortunately this relationship is particularly difficult to express at the moment.

[2019-01-19 18:33] Rockvole opened #93 "State which databases are supported in README"
I am having trouble finding out which databases your orm supports. It looks like postgres is supported since the example shows that. I would like to use with mysql but I cannot work out if that is supported.
Also, I would like to use it with flutter sqlite databases, but I cannot tell if the sqlite works with that or only works server side.
Thanks.

[2019-01-20 23:43] hjJunior opened #94 "Generator for Flutter Sqflite missing methods"
Hi I'm trying to implement **Many to Many** relationship, I'm not pretty sure I'm doing all correct
So, I have Order and Product, being pivot table "OrderItems"

### Order
[code]
### Product
[code]
### OrderItem (Pivot table)
[code]

So after run `flutter packages pub run build_runner build`
I got these following errors
[code]

### Running generator with verbose option
[code]

[2019-01-21 08:29] tejainece commented on #93
[Postgres](https://github.com/Jaguar-dart/jaguar_orm/tree/master/postgres)
[Flutter sqlite](https://github.com/Jaguar-dart/jaguar_orm/tree/master/sqflite)
[mysql/mariadb](https://github.com/Jaguar-dart/jaguar_orm/tree/master/sqljocky)

are supported.

sqlite on desktop is not supported.

Database support for Jaguar ORM is implemented using adapters. If you know of any sqlite drivers on desktop, I

[2019-01-21 08:31] tejainece commented on #94
Add primary key `Product`  model.

[2019-01-21 10:58] hjJunior commented on #94
Omg, sorry about that, I forgot it, thx for patience

[2019-01-21 10:58] #94 closed

[2019-01-21 11:45] tejainece commented on #94
Happy to help. You can contact us on [gitter](https://gitter.im/jaguar_dart/jaguar) if you have any questions.

[2019-01-21 15:35] grasp-algorithm opened #95 "Add a method to receive the function onCreate / onUpdate / ..."
I think it could be interesting to receive as a parameter on the constructor or in the `connect` method a function to be executed on the `onCreate` or `onUpdate` event.

[2019-01-21 15:40] tejainece commented on #95
That is a nice feature! Will add it.

[2019-01-23 22:19] hjJunior opened #96 "[Help] is it possible to order results?"
Hi, I really appreciate the work of this lib, helped me a lot, actually I'm thinking to build a Flutter bootstrap wrapping good libraries like it.
As well, I did like to know is possible to order results from Find or any another way

like

[code]

[2019-01-24 08:31] tejainece commented on #96
@hjJunior Thanks for your support and encouraging words!

Here you can find how to build find clauses using jaguar_query: https://github.com/Jaguar-dart/jaguar_orm/wiki/Find-statement

[2019-01-24 08:42] tejainece commented on #96
To write conditional expressions, you have to use conditional expression builder of jaguar_query. I am working on the documentation for this: https://github.com/Jaguar-dart/jaguar_orm/wiki/Conditional-expression

[2019-01-24 11:29] tejainece commented on #96
Ordering can be performed using `orderBy` method. You can find documentation here: https://github.com/Jaguar-dart/jaguar_orm/wiki/Find-statement#order--sort

[2019-01-24 21:56] #96 closed

[2019-01-24 21:56] hjJunior commented on #96
Thxs again ;)

[2019-01-25 01:48] junjizhi opened #97 "insertMany doesn't work if the model doesn't provide id field"
Looking at the generated code:

[code]

when setting `cascade` as true, it uses the `insert` path which handles the case with id. Otherwise there's a bug in the `else` block that doesn't handle id as null. This caught us by surprise.

[2019-01-25 09:12] tejainece commented on #97
Can you please provide `Equipment` class declaration?

Thanks.

[2019-01-25 09:14] tejainece commented on #97
What DB are you using? Postgres, MYSQL or sqflite?

[2019-01-25 09:16] tejainece commented on #97
Do you get any error?

[2019-01-25 09:17] tejainece commented on #97
I assume you are using sqflite.

@jaumard

[2019-01-25 18:53] hjJunior opened #98 "[Help] Many to many only returns distinct pivot table registers"
Hi guys, I'm having some difficulty with many-to-many relations in jaguar orm (Flutter).
I have an `Order` class that register many to many relation with `Product`class using as Pivot table `OrderItem` class

## What is happen
I need to allow my pivot table receives many orderId and productId even if the register is the same (just primary key different), for example if User bought **2 or more** `P

[2019-01-25 22:19] tejainece commented on #98
Currently, this is not supported! I will try to fix this.

[2019-01-26 01:59] junjizhi commented on #97
yes, sqflite. I got the db error that id column is empty when `cascade` is set as false.

[2019-01-26 13:54] MartinHlavna opened #99 "Cascaded detach of ManyToMany related objects does not work if there are no objects in relationship"
Hello,
I have exprienced issue with following model. I am using jaguar_query_sqflite as adapter.

1. Consider two entity models Post and Tag with ManyToMany relationship.
2. In jaguar_orm, this results in 3 objects. Post, Tag and PostTag object representing single relation between Post and Tag
3. Generated beans using jaguar_orm_gen are _PostBean, _TagBean and _PostTagBean
4. _PostBean contains me

[2019-01-26 14:21] MartinHlavna opened #101 "Should remove with cascade in ManyToMany relationship delete related object?"
Hello,
i ran to the following use case

1. Consider two entity models Post and Tag with ManyToMany relationship.
2. In jaguar_orm, this results in 3 objects. Post, Tag and PostTag object representing single relation between Post and Tag
3. Generated beans using jaguar_orm_gen are _PostBean, _TagBean and _PostTagBean
4. _PostBean contains method remove with cascade named parameter
5. If cascade = t

[2019-01-26 16:00] MartinHlavna commented on #99
PR #100 should fix this

[2019-01-26 18:29] hjJunior commented on #98
is there any suggestion for me on the project to avoid this problem?

## Update

I've worked locally, can I open PR with this suggestion?

[code]

[2019-01-27 02:25] tejainece commented on #101
https://github.com/Jaguar-dart/jaguar_orm/pull/100 makes sure that not all records are removed if there are no associations to detach in pivot table.

Another issue remains that the other end of the many-to-many relation is removed even if there are some other relations left for it. Should it be handled?

[2019-01-27 09:27] tejainece commented on #98
A PR to fix this in `jaguar_generator` is welcome!

[2019-01-27 11:19] MartinHlavna commented on #101
If my proposed solution is OK, I can look at this.

[2019-01-27 12:05] tejainece commented on #101
I agree with your proposal. Only change I would like to propose is instead of `orphanRemoval` on ManyToMany annotation, it would be nice to have it in generated remove method which shall be passed on to generated detach method.

[2019-01-27 12:09] tejainece commented on #98
One suggestions is to turn this behavior on only when a flag named `fetchDuplicates` is set. So that, what one does not expect duplicates, they can get better performance. What do you say?

[2019-01-27 12:34] tejainece commented on #99
Published as `jaguar_orm_gen` version `2.2.24`.

[2019-01-27 12:34] #99 closed

[2019-01-27 13:06] hjJunior commented on #98
Yep, good idea 💡
I will work on this PR.

[2019-01-27 13:21] tejainece commented on #98
Thanks man!

Let me know if you need help.

[2019-01-30 12:01] hjJunior opened #103 "Many to many cascate flag"
This issue is from the same bean of #98, So I've `OrderBean` and `Products` where is connected by `OrderItemBean`

So looking for insert and update methods on generate file, I was thinking about `cascate` flag, what do u think about it, some ORM you can setup to create only the relation (pivot table).
At Jaguar ORM the cascate method try to insert `Product` and `OrderItem`

[code]

So I'd like to

[2019-01-30 13:43] hjJunior opened #104 "hasMany update should insert if not exist object"
I have `Order` connected by HasMany relation with `OrderItem`, the insert method looks pretty good, but about update, I think its missing to create item if not exists

Imagine I created a new `Order` using insert with two `OrderItem`, so If I remove one OrderItem or maybe insert a new it won't be updated table `OrderItem`

[code]

[2019-01-30 13:46] hjJunior commented on #103
I solved this problem using `upsert` istead of  `insert`

[2019-01-30 13:46] #103 closed

[2019-02-03 12:08] MartinHlavna commented on #101
Opened PR #106. Did some testing, looks like this works. I was hovewer suprised that remove takes optional positional arguments. It may be bee good in future to change this to named parameters, but that would be breaking change right now.

[2019-02-14 23:46] carmas123 opened #108 "Problem with generated Bean and field names"
Hi I start to use Jaguar ORM for my app and I start from an existing database with some table structure and field names with upper cases and without "_" (underscores) fields name.
Now when I try to make my bean with a simple field name like "myName" it is translated to "my_name".
This is a big problem when we start to work from an existing database. I think that we can add an annotation to skip th

[2019-02-15 08:59] tejainece commented on #108
Will fix this.

[2019-02-15 09:04] carmas123 commented on #108
Thank you

[2019-02-15 15:33] hjJunior opened #109 "Find registers when value is null"
I'm using Jaguar ORM for Flutter, and I'm having issue to find a register where int field is null, is it supported?

## Scenario
On my model I have `externalId`

[code]

And on the bean I created a method to get only where externalId doesn't have value
[code]

But this return to me none registers, but I can see that exists registers with `externalId` null, to confirm it, I called to getAll() and p

[2019-02-18 10:11] tejainece commented on #109
@hjJunior `IS NULL` operator is needed for this. It is being implemented here:

https://github.com/Jaguar-dart/jaguar_orm/pull/107

[2019-02-18 17:44] tejainece commented on #109
Use `jaguar_query` `2.2.5`. There is an `iss` operator.

[2019-02-18 18:25] carmas123 opened #110 "ForeignKey question"
I'm a Kotlin developer and came from Android to Flutter and in Android I use [DBFlow](https://github.com/agrosner/DBFlow) a very powerful Android ORM. In DBFlow I've the class of model and I can add the foreignkey very simple with a column type of linked class. For example:

[code]

with this method I can access to MyLinkedTable using the MyTable.linkedValue field, like this.

`MyTable.linkedValue

[2019-02-18 21:40] tejainece commented on #101
@MartinHlavna What if we don't remove the right side at all but just remove the entries from the pivot table.

[2019-02-19 15:42] tejainece commented on #110
@carmas123 Thanks for the question. In Jaguar, one has to generate beans to generate the ORM logic for the given model. There is one bean for every model in the database.

For one-to-one relationship, please refer this wiki post: https://github.com/Jaguar-dart/jaguar_orm/wiki/One-to-one-relationship

There is a one-to-one example here: https://github.com/Jaguar-dart/jaguar_orm/blob/master/orm/exam

[2019-02-19 15:45] carmas123 commented on #110
Yes I try it....
But I don't understand why I need to add references into mi parent table "BelongsTo"...
and I got an error whan I try to use this methods in generation.

[2019-02-19 15:49] tejainece commented on #110
Thanks for quick reply. Do you have gitter?

[2019-02-19 15:49] tejainece commented on #110
You can chat with us here: https://gitter.im/jaguar_dart/jaguar

[2019-02-19 15:51] carmas123 commented on #110
Yes I talk now

[2019-02-26 13:28] hjJunior opened #112 "Discussion about orderBy"
I was writing a query where I was supposed to manipulate the columns, basically, I've `externalId` where is Null or an integer, so my objetive it was order first if `externalId` is null late by the date

Basicaly this raw query it works very nice
[code]

But I not got to use on `orderBy` because of definition standard
[code]
I was thinking about allow user send null to avoid breaking changes, and

[2019-02-27 08:42] andrei-cimpan commented on #97
I also have this issue with using insertMany with sqflite. I can provide you more info if needed. To avoid this, I'm inserting manually each entry of the list, but it is very slow... It takes about 7 seconds for about 1300 entries, each with 17 fields, on a Samsung S8

[2019-02-27 09:22] tejainece commented on #97
@jaumard Can you look into this?

@andrei-cimpan Why are you not providing id? Is it because the id is auto incrementing?

The code for models and beans would be of huge help.

Thanks!

[2019-02-27 09:24] jaumard commented on #97
Yes guys please share the model and the generated file associated with it. It will be easier to see the problem :) thanks !!

[2019-02-27 09:27] jaumard commented on #97
Also what's the error you receive ?

[2019-02-27 12:44] andrei-cimpan commented on #97
Hi @jaumard! I'm not providing id beacuse the id is auto incrementing, just like you said. The pubspec.yaml part that involves Jaguar is:
`dependencies:`
 `sqflite:`
 ` jaguar_orm: ^2.2.5`
 ` jaguar_query: ^2.2.6`
  `jaguar_query_sqflite: ^2.2.5`

`dev_dependencies:`
  `flutter_test:`
   ` sdk: flutter`

  `jaguar_orm_gen: ^2.2.25`
  `build_runner: ^1.1.0`

Actually I have two errors:

1. if I cal

[2019-03-09 16:20] MartinHlavna commented on #101
Hello,
sorry for the delay I had some personal issues that I had to solve and didn't have time for this.  Removing only right side could be solution for most users. However there may be use cases where it is desired behaviour to remove right side. Most ORMs in other frameworks tends to support both use cases.

That would be also breaking change.

[2019-03-12 15:21] tejainece commented on #109
@hjJunior I think this is fixed. Please reopen the issue if you find issues.

[2019-03-12 15:21] #109 closed

[2019-03-12 15:23] tejainece commented on #112
Looking into this.

[2019-03-12 20:08] hjJunior commented on #109
thxs :)

[2019-03-18 10:29] jaumard opened #115 "Having a count method generated"
Would be nice to have a count method generated to be able to count number of items from a where query a get a integer.

Because for now all we can do (a I know) is:
[code]
But it not optimized as you'll map all the objects just to get a count :/

Maybe there a better way @tejainece ?

[2019-03-18 16:10] tejainece commented on #115
@jaumard This is cool.

Jaguar_query already has count clause.

PR is welcome.

[2019-03-20 02:49] vectorlit opened #116 "FTS4 Full Text Search for sqflite (sqlite)"
Both Android and iOS have native support for the FTS4 virtual table module extensions. Currently there is no way in jaguar to enable these.

In other popular abstracted mobile ORMs, such as Entity Framework for mono/xamarin, this support is generally accompanied with code annotation support for COLLATE NOCASE. Without caseless collation, the FTS MATCH feature is generally not useful.

**My suggest

[2019-03-22 06:32] v7lin opened #117 "pub get failed (1)"
[code]

[2019-03-26 08:43] tejainece commented on #117
Fixing it.

[2019-03-26 08:52] tejainece commented on #117
I have published `jaguar_orm_gen` version `2.2.27`. Let me know if it fixes the issue.

[2019-03-26 09:08] droplet-js commented on #117
@tejainece thanks

[2019-03-26 09:08] #117 closed

[2019-03-28 19:20] rodolfoggp opened #118 "Missing "part 'user.jorm.dart';""
I'm trying to follow this tutorial:
https://github.com/Jaguar-dart/jaguar_orm/wiki/Generating-ORM-for-simple-table

But when I run "flutter pub pub run build_runner build" to generate the _UserBean class, apparently it doesn't work. How can I find this generated class?

I'm also getting this on my terminal:

[INFO] Running build...
[WARNING] jaguar_orm_gen on lib/model/user.dart:
Generating bean f

[2019-03-29 16:31] tejainece commented on #118
@rodolfoggp Add the following line in your `user.dart` file:

[code]

`user.jorm.dart` file is generated by the when you run `pub run build_runner build`.

[2019-03-29 16:32] tejainece commented on #118
I have also updated the wiki page to reflect this.

[2019-04-06 00:32] hjJunior commented on #19
Hey, pls correct if I'm wrong, but I think this it was solved at #113

[2019-04-06 00:41] hjJunior commented on #4
Hey, what do think about create a `__migrations__` table on schema to manage the migrations executed instead xml files?

This approach is used in many frameworks, if u agree I think that I can help on it!

[2019-04-06 08:52] tejainece commented on #4
That definitely sounds nice!

[2019-04-06 08:52] tejainece commented on #19
Yes.

[2019-04-06 08:52] #19 closed

[2019-04-08 13:28] hjJunior commented on #95
Sorry, I think this isn't necessary, saw you can use `Adapter.fromConnection`
And else, I think with it will be easier to maintainer, imagine if Sqflite add new callbacks functions

Eg.

[code]

[2019-04-08 13:31] jaumard commented on #95
Can be useful for other adapters, but yes for sqflite it's useless as it's better to let sqflite manage this

[2019-04-12 03:39] linuxjet opened #119 "Add onUpgrade option"
It would be nice to have somewhat of an upgrade option for changing db table schema.

possibly change file https://github.com/Jaguar-dart/jaguar_orm/blob/feature/alter_sqflite/sqflite/lib/src/adapter.dart#L25

to:

  /// Connects to the database
  Future<void> connect({onUpgradeDB}) async {
    if (_connection == null) {
      _connection = await sqf.openDatabase(path, version: version,onUpgrade:

[2019-04-12 07:19] tejainece commented on #119
@jaumard

[2019-04-12 07:19] #118 closed

[2019-04-12 07:25] jaumard commented on #119
@linuxjet you already have the `FomConnexion` https://github.com/Jaguar-dart/jaguar_orm/blob/feature/alter_sqflite/sqflite/lib/src/adapter.dart#L20 where you can pass directly an SQFlite instance, it's better to use that, if we start added onUpgrade, someone will after want onDowngrade and then another field and we'll have to proxy all the fields ^^
The FromConnexion is here if you need more confi

[2019-04-12 13:11] jamespet77 commented on #119
Not exactly sure where you are headed with that, unless you just assume creating the Sqlite connection first manually and preform the upgrade process then passing the connection to the adapter?

[2019-04-12 13:16] jaumard commented on #119
Yes here is what I use:

[code]

[2019-04-12 13:47] jamespet77 commented on #119
ok.  thx

[2019-04-12 15:23] linuxjet opened #120 "How to specify unique columns in table"
I tried using
[code]
But this did not seem to accomplish what I thought it was.

[2019-04-13 07:58] longgui0318 commented on #10
@tejainece  When do you add it?

[2019-04-24 01:39] isaacfi opened #121 "Add support to foreign-primary key columns"
I'm trying to add a foreign-primary key using PrimaryKey and BelongsTo annotations, but I have this error:

Exception: Only one Column annotation is allowed on a Field!
#0      ParsedBean._makeField ([package:jaguar_orm_gen/src/parser/parser.dart:360:7](https://github.com/Jaguar-dart/jaguar_orm/blob/master/generator/lib/src/parser/parser.dart))

The Partner class (foreign-primary key)

[code]

And

[2019-04-27 15:15] erwintan96 commented on #17
is it still in progress?

[2019-04-29 07:48] Rojackse opened #122 "How to fix A value of type 'StreamedResults' can't be assigned to a variable of type 'Results'."
![image](https://user-images.githubusercontent.com/30111188/56882349-eb306700-6a95-11e9-9d81-a2178d0dbe41.png)

[2019-05-02 19:00] Swat2k commented on #122
I have a similar problem, escalating...

[2019-05-03 02:47] Swat2k commented on #17
some question...

[2019-05-14 09:11] mbartnik opened #123 "Problem with multiple foreign keys in one bean referencing the same bean"
Hello,
I'm not sure if there is a better way to handle the situation I'm about to show since I'm no sql expert. If there is one, other than creating separate tables for these foreign keys, please point me to it.

[code]

What I was expecting to happen is that there would be rows in the C table which only have c1Id or c2Id filled in but in reality those 2 ids are treated like a single id. All the f

[2019-05-18 11:30] IcarusComplex opened #125 "Generated Beans causing stack overflows"
Hello.

I'm having some issues when generating beans. These are my dependencies:
[code]

The scenario is as follows. I have a Bean, A, and a Bean B.

[code]
[code]

Pretty standard one to many relationship. In the setup above, if I attempt to instantiate any Beans I get a stack overflow as the constructors are calling one another. However, removing the reference to a `BBean` from `ABean` has the u

[2019-05-21 04:14] JamesMcIntosh opened #126 "Feature request - support Optional data type"
When creating the model it would be great to have nullable columns handled with the Optional so nullability becomes explicit and null checks can be removed from the code.

[code]

Current behaviour is an Exception which is logged in the generate `.jorm.dart` files, I am creating a bug issues for this behaviour

[2019-05-21 04:22] JamesMcIntosh opened #127 "Unknown column type does not crash build"
When generating a column which is an unknown data type an error should be thrown.

When you run `flutter pub run build_runner build` it says that it succeeds with 1 less `actions` than expected. All that is shown in the console is a warning in the logs which doesn't indicate that anything went wrong.

[code]

The error is written as a comment into the jorm.dart file with a stack trace.

[code]

Ex

[2019-05-22 01:28] JamesMcIntosh commented on #126
Another area which Optional could be introduced is in the generated bean's find
[code]

[2019-05-22 05:15] Elvis5566 commented on #125
Change one of your bean like this
[code]

[2019-05-22 17:43] IcarusComplex commented on #125
Thank you @Elvis5566. This worked very nicely.

I recommend updating the OneToMany example code, as this implements it the way I had it above.

Seems an obvious fix now that I've seen. Thank you again!

[2019-05-22 17:44] #125 closed

[2019-05-23 08:38] tejainece commented on #126
Will look into this.

[2019-05-23 08:38] tejainece commented on #127
Will fix this.

[2019-05-25 09:41] JamesMcIntosh opened #128 "Drop database statement is incorrect"
I went to use the drop database statement but it tried to create a database instead.

[code]
Should be
[code]

https://github.com/Jaguar-dart/jaguar_orm/blob/07c3b63e8b4c5646ac157385cb0268c2c2be3560/sqflite/lib/src/compose/delete.dart#L20

[2019-06-02 12:14] ishaan1995 commented on #82
@jaumard Are you still working on the sqlcipher adapter?

[2019-06-02 12:20] jaumard commented on #82
I didn't do anything around this @ishaan1995

[2019-06-02 16:39] ziakhan110 commented on #97
i also have this problem, my model id is auto incremented insert many doesnt work, i insert it using loop,
i am using sqflite

[2019-06-02 16:44] ziakhan110 opened #129 "I am not getting error if id field is not auto and has no value in Flutter."
i have a model named Account which has id field which is not auto incremented. i was inserting it without providing value for id field. i thought i had set it to auto but i didn't.
The app was not loading just black screen and not errors or exception in console.

I would really like to get an error or some exception in console to know what is wrong.

[2019-06-04 19:57] elnurvl opened #130 "Is there any plan to write a test adapter for model testings?"
It seems, there is not an adapter written specifically for testing. It would be nice to have an adapter which utilizes memory instead of disk.

[2019-06-05 05:59] yiyibb opened #131 "error database_closed"

[2019-06-05 06:04] yiyibb commented on #131
once i called `await _adapter.close()`, i get this error `DatabaseException(error database_closed)` when i want to connect to db again.

[2019-06-05 06:09] yiyibb commented on #131
sorry, my bad, how to delete this

[2019-06-05 06:09] #131 closed

[2019-06-06 09:15] elnurvl commented on #81
@tejainece , isn’t it possible at least to add `findFor` kind of functions to generated classes automatically, if the generator finds `@BelongsTo` annotation on models?

[2019-06-06 10:32] mikeroneer opened #132 "Compose find for sqflite adapter wrong"
The `GROUP BY` clause is always the very last clause in the `SELECT` statement, no matter in which order the calling code orders the clauses. This leads to an SQL exception when used together with `ORDER BY` or `LIMIT`.
According to https://www.sqlite.org/syntaxdiagrams.html#select-stmt, this is invalid syntax.

[2019-06-09 19:33] tejainece commented on #120
@linuxjet I will take a look.

[2019-06-13 09:01] mikeroneer opened #134 "Question: SQL Max function"
Is there a way to get the MAX value by a find statement?

[2019-06-13 10:48] JamesMcIntosh commented on #129
@ziakhan110 You should provide an example of code, if you annotated the field with `@PrimaryKey` then the column should have a "not null" constraint on the column.

[2019-06-13 10:55] JamesMcIntosh opened #135 "Order by default direction is confusing"
The default sort order is `ascending = false` which is opposite to how all database implement Order By. Can I recommend changing to `ascending = true`

[code]

[2019-06-13 12:01] ziakhan110 commented on #129
this is my model
[code]

this my bean .
[code]

this insertion code
[code]

[2019-06-13 23:21] JamesMcIntosh commented on #129
@ziakhan110 What does the `createTable` function inside of the generated AccountBean.jorm.dart file look like?

[2019-06-14 08:53] ziakhan110 commented on #129
Here is `createTable`
[code]

[2019-06-14 08:56] ziakhan110 commented on #129
Here is `createTable`

[code]

[2019-06-14 23:30] JamesMcIntosh commented on #129
@ziakhan110 I get the following in the log when I try and run the insert
[code]

[2019-06-15 05:15] ziakhan110 commented on #129
@JamesMcIntosh this is what i get , shown in picture
![flutter](https://user-images.githubusercontent.com/8199129/59547311-6f5f8080-8f56-11e9-972c-b65517ae9b1b.png)
![flutter 2](https://user-images.githubusercontent.com/8199129/59547330-afbefe80-8f56-11e9-93ac-49e54597c70f.png)

[2019-06-15 07:02] ziakhan110 commented on #129
i am inserting data at app startup, maybe it has something to do with it, when i try it when app is loaded then it gives me error.

[2019-06-15 11:39] tejainece commented on #135
@JamesMcIntosh That would be a breaking change.

[2019-06-15 11:47] tejainece commented on #129
@ziakhan110
If i understand this right, the insert fails because you are trying to insert with null id, which is a non nullable primary key.

You have three options:

1) Set id manually (Because by default @PrimaryKey makes the column "NOT NULL")
2) Use some kind of sequence column type
3) Manually set that the column can have null values (@PrimaryKey(isNullable: true))

[2019-06-15 11:48] tejainece commented on #134
I will add this.

[2019-06-15 11:48] tejainece commented on #130
Wouldn't that involve implementing a whole database?

[2019-06-15 11:59] tejainece commented on #128
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/ff219bc1fb7eccc034b87db6e461ba7a27269a72.

Published to pub as `2.2.10`.

[2019-06-15 11:59] #128 closed

[2019-06-15 12:00] tejainece commented on #130
If someone implements an in-memory SQL database for Dart, I will implement an adapter for it.

[2019-06-15 12:04] tejainece commented on #123
I will fix this.

[2019-06-15 12:30] mbartnik commented on #123
Thank you. We've fixed this issue and some other that were bugging us on https://github.com/RnDity/jaguar_orm/tree/upsert_and_generator_changes, I know that we've used different approach that you already started developing (the `@ForeignKey` annotation) but if you wish, we can clean up the code from the unnecessary additions from us and merge it if you're happy with our solution. If you want to re

[2019-06-15 14:18] ziakhan110 commented on #129
i know my options i have set it to auto=true. what i am asking is why i am not getting error in console when there is no value provided.

[2019-06-15 14:33] tejainece commented on #123
Nice! Please submit a pull request.

[2019-06-15 14:55] tejainece commented on #129
@jaumard can you see why an exception is not thrown here?

[2019-06-15 15:25] tejainece commented on #122
I will fix this.

[2019-06-15 16:06] #121 closed

[2019-06-15 16:07] tejainece commented on #121
Fixed by https://github.com/Jaguar-dart/jaguar_orm/pull/124.

[2019-06-15 16:21] ziakhan110 commented on #129
@tejainece maybe exception is thrown but flutter log is not initialized yet.
https://stackoverflow.com/questions/55393207/how-to-catch-flutter-app-crash-on-startup

[2019-06-15 16:28] tejainece commented on #129
Thanks for the info. Should we close the issue then?

[2019-06-15 16:28] tejainece commented on #129
Thanks for the info. Should we close the issue then?

[2019-06-15 16:36] tejainece opened #136 "Fine grained ORM column annotations"

[2019-06-15 16:44] tejainece commented on #136
New annotations: https://github.com/Jaguar-dart/jaguar_orm/blob/master/orm/lib/src/annotations/nextgen.dart

[2019-06-15 17:01] ziakhan110 commented on #129
@tejainece yes sir.

[2019-06-16 23:22] JamesMcIntosh commented on #135
@tejainece Yes, I would recommend doing it when you do the next major version release.

[2019-06-17 01:28] JamesMcIntosh commented on #136
@tejainece
Hi Ravi, I think one of the most well developed solutions for annotating data models for ORM consumption would be the JPA specification, picking a subset of their annotations could help with structure and bring the annotation names inline with other similar projects to help with developers coming new to dart.

http://www.techferry.com/articles/hibernate-jpa-annotations.html
https://www.

[2019-06-17 01:32] JamesMcIntosh commented on #136
@tejainece I see you have a new annotation [Foreign](https://github.com/Jaguar-dart/jaguar_orm/blob/master/orm/lib/src/annotations/nextgen.dart#L30), is that to accommodate one sided foreign relationships?

[2019-06-18 19:55] tejainece opened #138 "Implement Custom types"

[2019-06-18 19:56] tejainece opened #139 "Implement arrays"

[2019-06-18 20:12] tejainece commented on #136
I have pushed more new changes. Check it and let me know what you think.

[2019-06-19 18:40] pafik13 commented on #138
Hello.
Is the task about that?
[code]

[2019-06-20 06:27] tejainece commented on #138
Yes.

It is about "CREATE TYPE" in SQL.

[2019-06-20 06:28] tejainece opened #140 "Implement transaction support"

[2019-06-20 06:29] jaumard commented on #140
Duplicate of #17 ? ^^

[2019-06-20 06:29] tejainece commented on #140
Opps.

[2019-06-20 06:29] #140 closed

[2019-06-20 06:30] tejainece commented on #17
Working on this. Will be part of Jaguar ORM 4.x.x.

[2019-06-20 10:09] pafik13 commented on #138
Ok

This statement depends on a database. For example, SQLite hasn't it.

[2019-06-20 13:52] tejainece commented on #138
Yes.

It will only be implemented in databases that support it.

[2019-06-21 07:52] tejainece commented on #138
Maybe we can emulate for databases that don't support it.

[2019-06-21 11:29] tejainece opened #141 "Implement default value"

[2019-06-21 11:29] tejainece opened #142 "Implement CHECK constraint"

[2019-06-22 11:27] tejainece opened #143 "Implement cast operator"

[2019-06-22 14:59] tejainece commented on #123
Composite foreign keys have always worked. No?

[2019-06-22 17:49] pafik13 commented on #138
I use __flutter__ with __sqfilte__ package. For the same case I did next steps:

1. mark field with @IgnoreColumn
2. generate code
3. add properties in Bean class with needed columns by scheme _ModelPropertyName_`__`_NestedClassPropertyName_  (for the example: `b__field1` and `b__field2`)
4. add logic into functions: `fromMap`, `toSetColumns` and `createTable`

At the moment I had no problems ;)

[2019-06-22 21:26] pafik13 opened #144 "Feature request: debug option for adapter"
It would be nice to be able to track all queries.

I think it should be something like this:

[code]

[2019-06-22 22:06] tejainece commented on #144
Great idea. I will implement this.

[2019-06-22 23:47] mbartnik commented on #123
You're talking about the `refCol `argument in `@BelongsTo`? When you refer to my example in 1st post, the problem there is that c1 doesn't have any connection to c1id, therefore it doesn't know that it's supposed to preload data using column c1Id. If you're talking about `@ForeignKey` annotation, it was marked as unfinished (commented as todo).

There are actually a few more problems fixed in my P

[2019-06-23 09:20] tejainece commented on #123
It does. It gets that information from the bean and bean.tableName.

[2019-06-23 09:23] tejainece commented on #123
I would expect it to generate `findByC(c1, c2)`.

[2019-06-23 09:25] tejainece commented on #123
Also a small/minimal repository to reproduce this would be very helpful. We can in the future make it official example repository for this usecase.

[2019-06-23 09:29] tejainece commented on #123
Ahhh. Now I get what you mean. If you make a small/minimal example repo, it would be very useful.

[2019-06-23 10:02] tejainece commented on #127
This is fixed in 4.x.x version.

Please file a new issue for `Optional`.

[2019-06-23 10:02] #127 closed

[2019-06-25 13:58] mbartnik commented on #123
Do you want this example repo to illustrate the problems using current versions of libraries or example repo using changes from my PR? Changes made in PR are breaking; `byHasMany` argument in `@BelongsTo` annotation would be mandatory and I'm introducing a new argument `foreignKeyColumn` to `@HasOne` and `@HasMany` annotations.

[2019-06-25 14:58] tejainece commented on #123
Without the PR. I have made a lot of changes to the repo preparing for 4.x.x release.

I have added `BelongsTo.name` and `Reference.name` on the foreign key side. And `HasOne.linkByName`, `HasMany.linkByName` and `ManyToMany.linkByName` on the relations side.

`BelongsTo.name` and `Reference.name` names the foreign key constraint as well as help in linking with the correct relation (if there are m

[2019-06-25 17:41] mbartnik commented on #123
Yes, the fix seems similar to what we've done.
I've made an early version of the example repo here: https://github.com/mbartnik/jaguar-dart-example although I still have problems with running it. Previously I've used sqflite adapter and postgres adapter causes me some problems, not sure if I'm doing something wrong or if it's the adapter. I'm getting `PostgreSQLSeverity.error 42830: there is no un

[2019-06-26 21:47] tejainece commented on #123
Thanks for the simple reproducible. I have added your repo as official example repo for this usecase here: https://github.com/jaguar-orm/multiple_relations_same_tables.

I have fixed the issue in latest version of generator. It is also reflected in the example repo.

4.x.x however is a WIP.

[2019-06-27 20:47] #129 closed

[2019-06-27 20:48] tejainece commented on #132
I am guessing this issue is fixed. Please reopen if that is not the case.

[2019-06-27 20:48] #132 closed

[2019-06-27 20:49] #123 closed

[2019-06-27 20:56] tejainece commented on #112
@hjJunior I will fix this.

@jaumard Can you fix this in sqlite adapter and take care of it being null?

[2019-06-27 21:01] tejainece commented on #112
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/2f2f90a37e386bf4537157f60646f1b91615ac2f

[2019-06-27 21:01] #112 closed

[2019-06-27 21:01] #110 closed

[2019-06-27 21:02] tejainece commented on #136
This is implemented.

[2019-06-27 21:02] #136 closed

[2019-06-27 21:05] tejainece commented on #108
I think by default, we should prefer snake case. But for special cases like this, we should allow skipping snaking casing with a flag.

[2019-06-27 21:06] tejainece commented on #17
This is implemented for query, Adapter and Bean.

Generator should also support this in generated methods.

[2019-06-27 21:16] tejainece commented on #144
Implemented by https://github.com/Jaguar-dart/jaguar_orm/commit/5e209222cfb95018405a58e06451c3dd5e75d1fd

[2019-06-27 21:16] #144 closed

[2019-06-27 21:23] tejainece commented on #130
What do you think about similar solution: https://github.com/DATA-DOG/go-sqlmock

[2019-06-27 21:24] tejainece commented on #92
Could you please elaborate more?

[2019-06-28 20:22] rubiktubik opened #145 "Use `Duration` Type as field or how customize serialising"
Hello Community,
i want to use jaguar_orm in flutter.
When i use the `Duration`-Type i get an exception from in the generated *.jorm-File:

`Field type not recognised: Duration!`

When the `Duration`-Type is not supported. How can i customize the serialisation?

Regards
rubiktubik

[2019-06-28 20:28] tejainece commented on #145
@rubiktubik `Duration`s will be supported in version `4.x.x` which is being worked on.

[2019-06-29 13:14] rubiktubik commented on #145
Thank you for the quick answer! Is there another way in the meantime?

[2019-06-29 16:53] tejainece commented on #145
Use `ignore` to ignore duration field and add string getter and setter that will actually sets the duration field is one idea.

[2019-06-29 20:42] tejainece commented on #17
This is now completely implemented.

[2019-06-29 20:42] #17 closed

[2019-06-30 16:15] tejainece commented on #101
Hi,

I am planning to absorb your suggested changes.

[2019-06-30 18:46] #84 closed

[2019-06-30 18:46] #93 closed

[2019-06-30 18:49] tejainece commented on #97
A small reproducable repo will be very useful.

[2019-06-30 18:49] #95 closed

[2019-06-30 18:54] tejainece commented on #134
In jaguar_orm 2.x.x, you can use normal sql expressions as string. Use it to write max function.

Jaguat_orm 4.x.x has max function.

[2019-06-30 18:54] #134 closed

[2019-06-30 18:55] tejainece commented on #69
This will not be supported.

[2019-06-30 18:56] tejainece commented on #42
This si fixed.

[2019-06-30 18:57] #42 closed

[2019-06-30 18:57] #16 closed

[2019-06-30 18:57] #66 closed

[2019-06-30 18:59] #119 closed

[2019-06-30 18:59] tejainece commented on #135
Fixed in 4.x.x

[2019-06-30 18:59] #135 closed

[2019-06-30 21:30] tejainece commented on #98
Should be fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/68f78edbad468074e9bd19f0019030b63ff7d813

[2019-06-30 21:30] #98 closed

[2019-07-01 05:43] jaumard commented on #69
:( si you can't say #42 is fixed ^^
Why don't you want to support this?

[2019-07-01 08:07] tejainece commented on #69
Jaguar supports immutable fields. Not immutable models. One can have immutable models if there are no relations.

If there are relations, we have to set fields to associate them.

If we come up with a method to achieve this, we can implement it.

[2019-07-01 08:12] jaumard commented on #69
Yes immutable fields are supported since a long time, I already use them. But what I'm interested in is immutable models :)

There is a simple way to achieve this by just returning a full copy of object with the relations instead of settings fields. That's how the all flutter frameworks works, you have a `copy` method you can call with the possibility to override any fields, that method return a n

[2019-07-01 08:14] jaumard commented on #69
As it's a breaking changes I think v4 is the perfect time for doing it ^^

[2019-07-01 09:01] tejainece commented on #69
I think in general immutable models are awesome. But I do not agree with making the api and generation complex to get complete immutability. I have never used build_value and its shebang.

Please present a fully implemented, hand written bean example for one-to-one scenario with immutable relations. If it is does not complicate things, let us absorb it into the generator.

What say?

[2019-07-01 09:10] jaumard commented on #69
I don't think we need build_value (never used it too ^^), we just need to generate a `copy` method on our generator, and change the `preload` methods to return a new object.

I'll create a one-to-one example ASAP ! I'm reopening the issue for now, if we finally don't do it we'll close it again. But I really think we can do it without to much trouble

[2019-07-01 10:22] tejainece commented on #69
Sounds good.

[2019-07-01 14:09] jaumard commented on #69
Here is my manual implementation of one-to-one association with immutability, all modifications can be done under the generator I think:

https://gist.github.com/jaumard/5e777dbd1f2090a7d859061aa2165f5d

Tested on my Mac with PostgreSQL DB

Let me know what you think @tejainece !

[2019-07-01 19:16] #81 closed

[2019-07-01 19:17] tejainece commented on #81
Fixed in https://github.com/Jaguar-dart/jaguar_orm/commit/dc166e9a22db0f10cd13440f58d5b5e6348b91ea

[2019-07-01 19:47] tejainece opened #146 "Implement CTEs"

[2019-07-01 20:54] #101 closed

[2019-07-01 20:54] tejainece commented on #101
Fixed by https://github.com/Jaguar-dart/jaguar_orm/commit/15a233b5cc5ccdb19eaa8cacda56d2071c08027a

[2019-07-02 06:29] tejainece commented on #47
I will work on this.

[2019-07-02 06:31] tejainece commented on #4
@hjjunior Are you still planning to work on this issue?

[2019-07-02 11:47] jaumard opened #147 "Manage association with object and not foreign key"
I always find it weird that for one-to-many we set `List<Object>` in one side and only `int id` on the other side,

As v4 is going on I propose to change to always manage association with object instead of foreign key.

The will also us to use preload to load directly the nested object.

Most ORM manage relations with objects, I think it will be better to do it.

What do you think ?

[2019-07-02 14:28] tejainece commented on #147
Can you give an example?

On parent side it is object. On child side, it is foreign key.

If you mean jaguar should create the foreign keys for the user instead?

[2019-07-02 18:42] tejainece opened #148 "Implement IN clause"

[2019-07-02 18:42] tejainece opened #149 "Implement ANY, ALL clause"

[2019-07-02 19:56] jaumard commented on #147
That's exactly that, in some case you might want to define your own foreign key but in most cases you're interested in getting the related parent. That can be a nice addition :)

[2019-07-02 23:39] hjJunior commented on #4
I was :/ but I faced a problem that go against the way is used generator on project

[2019-07-03 07:39] tejainece commented on #4
Can you please explain more?

[2019-07-03 22:01] hjJunior commented on #4
oc! well, I was planing to create a migration when the `flutter pub run build_runner build`, but I'll need to check if changed and/or what changed on database schema, and late it, if required create a new file/a new migration version with the diffs
I'd like to follow something like the room migrations but a little more automatic

[2019-07-07 16:52] KamalElShazly opened #150 "Implement iss and isNot in where clause"
Hello,

I wanted to use iss in a where clause to check for NULL values but it was not recognized.
I'm using jaguar_query-2.2.8  and i can't find it in \jaguar_query-2.2.8\lib\src\operators\operators.dart
Although i found the implementation in \jaguar_query-2.2.8\lib\src\core\expression\condition.dart
and in \jaguar_query-2.2.8\lib\src\core\operators\comparision.dart

I have an easy fix by adding t

[2019-07-12 08:40] ziakhan110 opened #151 "Is there a Sum() function available?"
i need to create this query in orm
select sum(amount) from transaction group by category_id order by amount desc limit 3;

this my table
![db](https://user-images.githubusercontent.com/8199129/61114827-94d6a000-a4aa-11e9-905a-3e7fdaba5489.png)

[2019-07-16 13:03] JankoLancer commented on #147
That would be perfect addition.

[2019-07-17 06:17] YourksChan opened #152 "how to achieve limit"
SELECT c1,c2,cn... FROM table WHERE id>=20000 LIMIT 10;

[2019-07-20 12:36] ishaan1995 commented on #152
@YourksChan
If you generated your beans, there is a finder method inside the bean which allows limit query.

Eg:

Let's say your table name is `User` and generated bean is `UserBean`.

[code]

[2019-07-27 15:01] chengyuhui opened #153 "Feature: some way to inspect statements"
Currently the only way to inspect the final SQL for a `Find` statement seems to be have some kind of syntax error, which is quite annoying when things go wrong.

Is it possible to inspect statements more conveniently, e.g. properly implement `toString` ?

[2019-07-30 07:50] jaumard commented on #69
@tejainece any news on this ? I think it will be a nice addition to v4 :)

[2019-07-30 08:41] tejainece commented on #69
I have not got a clean proposal that does not sacrifice user friendliness for immutability.

[2019-07-30 08:42] jaumard commented on #69
Did you check my gist ? It doesn't sacrifice anything, just give you immutability

[2019-07-30 12:55] YourksChan commented on #152
Thanks!

[2019-07-30 12:55] #152 closed

[2019-08-03 00:32] jacksos101 opened #154 "Error when using findOneWhere() method"
I am trying to use the findOneWhere() method in bean.dart, and am using in the following manner:

[code]
This works fine for the findWhere() method, but with findOneWhere() I am getting the following exception:

[code]

Am I passing the right argument to findOneWhere()?

Any advice would be much appreciated :)

[2019-08-03 00:40] jacksos101 commented on #154
Ahhhh sorry, I'm confusing jaguar methods with dart iterable. My mistake..

[2019-08-03 00:40] #154 closed

[2019-08-08 08:15] tejainece commented on #69
The approach you suggested only supports immutable models. It does not support mutable models.

[2019-08-08 08:17] tejainece commented on #69
I think we should handle immutable models and mutable models differently.

[2019-08-08 08:18] jaumard commented on #69
In fact it does, if you don't put your fields as final they are mutable for the users. What the generated code use is not really a concern imho.
Also supporting mutable models it's supporting a bad practice... So not sure it worth supporting both differently (more work, less easy for users and more error prone)

[2019-08-08 08:20] jaumard commented on #69
If you really want to support both we can keep the current way, add a boolean field on the Bean annotation and do the immutable way if that flag is true (I would push for immutable by default but if you don't want it's fine for me ^^)

[2019-08-28 11:57] HTMHell opened #155 "Preload BelongsTo column"
Let's take the code from the examples to simplify:
[code]

How to get `User` object from `AddressBean`?
`final address = await addressBean.find('1', preload: true);`

I would like to access something like `address.user` which will return a `User` object that has been loaded from the relationship. Is it possible?

[2019-08-28 14:57] HTMHell commented on #147
@jaumard  any idea when this will be available?

[2019-08-28 15:09] jaumard commented on #147
No idea, I don't think someone is working on this so I'll say not any time soon. But PR are welcome if you're motivated to do it

[2019-09-17 01:56] boskokg opened #156 "Further work on this plugin"
Hi there,

I would like to know if you have any plans on working further on this plugin or you are going to leave it as it is.

The current master is unstable and I see there was no work done in the last 3 months.

The last stable release makes me the conflict with the other plugins because of an old version of analyzer dependency.

I am using your plugin in the big project and if you cannot maint

[2019-09-25 14:42] jaumard opened #158 "Foreign keys wrongly generated"
With SQFlite I notice that create table generate this:

[code]

As you can see the foreign key on cartItem table is wrong as it reference cart(extId) instead of cart(ext_id).

So all foreign key are wrong using sqflite adapter :/

By "chance" sqlite doesn't enable this constraint by default, but once you enable it, it's Christmas on errors...

[2019-09-25 16:00] jaumard commented on #158
My models

[code]
And:
[code]

[2019-09-26 08:47] maheshmnj opened #160 "package:jaguar_orm_postgresql/jaguar_orm_postgresql.dart'. doesn not exist"
I saw the examples and you are importing
``` jaguar_orm_postgresql/jaguar_orm_postgresql.dart'```
I have included jaguar_orm as well as jaguar_query but still the error persist?

[2019-09-26 11:35] flycash commented on #4
@hjJunior Do you made any progress? Or are you still working on this?

[2019-09-26 12:41] hjJunior commented on #4
Sorry guys, when I was planning to start, I just figure out another one, that already do this, take a look on [Floor](https://pub.dev/packages/floor#migrations)

[2019-09-27 23:03] JamesMcIntosh opened #161 "AUTOINCREMENT is not implemented in create statements"
The construction of auto incrementing primary keys in confusing and does not expose allow for auto incrementing keys without reuse.
https://www.sqlite.org/autoinc.html

Currently if you specify a PrimaryKey with the auto attribute
[code]
It is generated as
[code]
It should be
[code]
I would recommend handling the creation of integer columns in `create.dart` like this:
[code]

[2019-09-30 10:23] AlexanderArendar opened #162 "Version solving failure when using jaguar_orm together with built_value"
Hi there,

I use built_value in my project, like the most of production projects do.
Today I decided to add a dependency to "jaguar_orm" and try to use it but when I run the `pub get` I see the following output:
[code]

Could you advise?
My `pubspec.yaml` below:
[code]

[2019-10-03 21:03] Pepperychef opened #163 "Problem with pub run build_runner build"
first of all, i must say that i love this orm, but from today and without knowing why i cant generate nothing with the build_runner command. Everytime i try this is the output.

i dont get why this is happening.

here is a test project i used to try this outside of my main project.

[https://github.com/Pepperychef/test_jaguar](https://github.com/Pepperychef/test_jaguar)

[2019-10-04 12:50] shakthifuture opened #164 "Commercial Use"
Hi,

I'm new to jaquar_orm. Please let me know, this project **free** for **commercial use** or not.

Thank you.

[2019-10-04 12:53] jaumard commented on #164
hello :) yes it is, just check the license :) https://github.com/Jaguar-dart/jaguar_orm/blob/master/orm/LICENSE

[2019-10-04 12:53] #164 closed

[2019-10-04 12:56] jaumard commented on #163
I don't have any problem on your sample project, it compile just fine.
Be sure you are using `flutter pub pub run build_runner build` and not `pub run build_runner build` like your title say.

[2019-10-04 12:56] #163 closed

[2019-10-04 12:56] jaumard commented on #163
I've tested with last flutter stable on my side :)

[2019-10-04 12:58] jaumard commented on #162
When I have this kind of incompatibility I'm using `dependency_overrides` to force a fix version until one lib or the other update to have same deps

[2019-10-04 14:04] jaumard commented on #161
The doc you mention also says `The AUTOINCREMENT keyword imposes extra CPU, memory, disk space, and disk I/O overhead and should be avoided if not strictly needed. It is usually not needed.`

And:
`In SQLite, a column with type INTEGER PRIMARY KEY is an alias for the ROWID (except in WITHOUT ROWID tables) which is always a 64-bit signed integer.`

The only advantage of the keyword is `If the AUTOI

[2019-10-04 14:19] jaumard commented on #156
We are in the same case as you :) but worse case scenario, we will have to fork the code, update it and publish it again with another name, at least that's what we plan to do if needed.
In the same time you can use dependency_overrides to force the analyzer version

[2019-10-04 14:24] jaumard commented on #155
It is not currently possible. Instead you can use `UserBean.findByAddress` to have it.
But I'm 100% for jaguar to support both relation with object in the future :) but it need some work and refactoring so it will be not in near future

[2019-10-04 14:24] #155 closed

[2019-10-04 14:26] jaumard commented on #153
That would be a nice addition indeed ! I've have personally did like this:

[code]
Like this I can see SQL and results

[2019-10-04 14:27] jaumard commented on #155
Related issue about this is discuss here https://github.com/Jaguar-dart/jaguar_orm/issues/147

[2019-10-04 14:30] jaumard commented on #126
dart will (soon?) have nullable field so it will be better to wait for it and use it once it's there instead of playing around and add an Optional class that will complexify the core code

[2019-10-04 15:44] Pepperychef commented on #163
I was using the `flutter packages pub run build_runner build` and after your response i tried the `flutter pub pub run build_runner build`  just in case but didn't work.

But saying that you was using the last flutter stable version makes me check.

I was using the latest flutter from the master branch, just changing the branch to stable solved the problem.

I think that the dart team changed how

[2019-10-04 17:25] boskokg commented on #156
I have done the fork and updated the entire code to 4.x.x.
I made a marge request, but no one responds to it for weeks.
I am using my fork for now and it works pretty well...

[2019-10-04 17:31] jaumard commented on #156
Interesting !
What is more on 4.x.x that wasn't in 3.x.x ?

[2019-10-04 17:57] boskokg commented on #156
Actually, I don't know. I saw the changes that contributors made on postgres and done the same thing on sqflite.

[2019-10-04 20:24] boskokg commented on #156
jaumard, would you like to create a separate plugin for sqflite and continue improvements out of this unmaintained plugin?

[2019-10-05 07:40] jaumard commented on #156
ho ok ! I'm waiting because I'm talking with the maintainer to know if I can have rights to deploy the package on pub, I already have rights on GitHub but not yet on pub. If I have the rights I prefer not to create a separate repo and keep maintaining this one to keep the name and community.
I'll keep you in the loop :)

[2019-10-09 10:47] jaumard commented on #156
So @boskokg I've got some news :) I was able to reach the maintainer a he add me to pub/github so I'm able to maintain this project.
I'll will check you PR about v4 but might take time as I need to understand was this version offers, but I'll check that. I'm closing this issue :)

[2019-10-09 10:47] #156 closed

[2019-10-09 10:48] jaumard commented on #160
Hello,

Do you have a repo who reproduce this error ? I'm currious about it, it shouldn't append

[2019-10-09 10:49] jaumard commented on #151
Hello,

No I don't think this kind of request are supported by the ORM, but look like you don't need an ORM for those, just execute a raw query no ?

[2019-10-09 10:54] jaumard commented on #150
Hello,

I'm using this and it works:
[code]
Code is here https://github.com/Jaguar-dart/jaguar_orm/blob/legacyV3/query/lib/src/core/expression/field.dart#L35

It's not anymore in master because master code has been updated to v4 and release version is still v3 for now

[2019-10-10 03:11] Skepticam commented on #163
Switched to flutter _stable_ branch works for me!

[2019-10-10 03:12] Skepticam commented on #163
Switched to flutter **stable** branch worked for me!

[2019-10-10 23:38] JamesMcIntosh commented on #161
The SqlLite guys are a very performance driven, I'm pretty sure you wouldn't notice it in a normal app.

The advantage of this behaviour comes when you are missing foreign key constraints or haven't enabled them (foreign key constraints are set to off by the default in SqlLite). If don't clean up related data correctly when you delete rows then you can have data magically appear which is from some

[2019-10-11 10:43] jaumard opened #165 "Support for isolate"
Problem is that if you have a huge load of data, for example a synchronization for offline usage to do with your backend, doing the work on the main isolate can provoke lags in the app.

What would be nice is to have the request done in an isolate. What I can think of right now is to wrap sqflite into his own isolate and doing a jaguar adapter that use this isolate.

Not sure yet this will work bu

[2019-10-28 10:24] dongjian opened #166 "insert/upsert cascade 'newModel' isn't used (one to many)"
source code
![image](https://user-images.githubusercontent.com/2841022/67670882-ce76dc80-f9af-11e9-88cc-a4ed0bf88a8d.png)
gen code - class _SmokeDataBean
![image](https://user-images.githubusercontent.com/2841022/67670937-e8b0ba80-f9af-11e9-85da-88ec72fc39ec.png)

[2019-10-30 12:16] jaumard commented on #166
What version do you use ?

[2019-10-30 12:19] jaumard opened #167 "v4 sqflite, no migration possible"
With the migration to sqflite to v4, it's now no more possible to use sqflite capabilities like migration stuff (but more than migration, the lifecycle of the database is now hidden and not accessible).

I think we should still pass the sqflite database to the adapter like we did before, it allow users to do stuff before setting up jaguar.

[2019-10-30 12:21] jaumard opened #168 "v4 sqflite, no way to change the underlying database"
With the migration to sqflite to v4, it's now no more possible to override the adapter to change the underlying database connection (to do a feature like switch database during the life of the application).

We need to find a way to make this possible again

[2019-10-30 12:26] jaumard opened #169 "V4, naming convention"
With the v4, I've see some naming that are not obvious or shortened for no reason. We need to be careful about naming and code clarity. When I see class named `A` it make me scare ^^

We have to think about new contributor and make easier their task to contribute to the project, that's not the case if we don't start to at least have meaningful name.

[2019-10-30 13:27] dongjian commented on #166
Hello!
  sqflite: ^1.1.7+1
  jaguar_orm: ^2.2.6
  jaguar_query_sqflite: ^2.2.10

  build_runner:
  jaguar_orm_gen:

[2019-10-30 23:05] JamesMcIntosh commented on #163
Looks like you need to upgrade build_runner or analyzer
https://github.com/dart-lang/build/issues/2476
https://github.com/dart-lang/build/issues/2482

[2019-11-04 13:17] jaumard commented on #166
Thanks ! Can you share the source code ? Screenshot are not super to create a reproducible case ^^ I'll try to take a look at that

[2019-11-04 15:06] Newbie012 opened #170 "Support for IN operator"
Hi there,

Is there an option to add SQL IN Operator?

[2019-11-05 00:55] boskokg commented on #153
Master has this feature now.
SqfliteAdapter(this.path, {this.version, this.logger});

[2019-11-05 09:30] kmod-midori commented on #153
Great! When can we see this released?

[2019-11-05 09:34] dongjian commented on #166
OK
source code

[code]

gencode
[code]

[2019-11-06 07:34] dongjian commented on #97
same problem . and i use upsertMany instead for temporary .

[2019-11-19 16:34] #151 closed

[2019-11-20 23:53] junjizhi commented on #148
Is there any update on this feature? In some places, I saw a long `Or` clause. It will soon hit the sqllite limit and results in `Expression tree is too large (maximum depth 1000)` error.

[2019-11-21 03:56] u007 commented on #163
yes, can someone allow build_runner v 1.1.0? im having the same problem

[2019-11-21 09:12] u007 opened #171 "missing implementations for these member Adapter.alter"
got this error:

my pubspec:
[code]

[code]

[2019-11-26 20:00] nabilanam commented on #163
I am already in flutter master branch.
Ran ```flutter pub pub run build_runner build```
Ran ```flutter pub upgrade```
And still the same error

[2019-11-27 15:01] Pepperychef commented on #163
change flutter to the "stable" branch nabilanam

[2019-12-11 13:27] Yooooomi commented on #138
Why not just being able to inherit from an abstract type called `Serializable` which provides String serialization / deserialization ?

Example:
[code]

[2019-12-16 11:09] maheshj01 commented on #160
I dont have it for now we can close this issue If I find something I will reopen it with a an example repo including the steps on how to reproduce the error

[2019-12-16 11:09] #160 closed

[2019-12-22 21:16] agilob opened #172 "Problem generating one-to-one relationship"
[code]

person:
[code]

person settings:
[code]

person bean:
[code]

person settings bean:

[code]

dependencies:
[code]

[2019-12-24 19:39] outofculture opened #173 "Error when cascading upsert"
I have a model with a many-to-many relationship:
[code]

When I call `session.id = await sessionBean.upsert(session, cascade: true)` on a new session, I get the following error:

[code]

And so right, the `session` object doesn't have an id yet. `attach` can only associate objects with ids. The cascade logic inside the generated upsert seems to assume the `session` already has an id set, so it wil

[2019-12-26 20:34] salsolatragus opened #174 "Cannot run tests"
I intended to create a PR for `DateTime`/`Duration` support, but I fail to get a dev setup where I can run the current tests. Running the tests in ORM gives me:

[code]

Am I missing something or is it broken? Some guidance on setting up a dev environment would be nice 😇

[2020-01-06 04:09] junjizhi commented on #97
Sorry to get to this late. I added a [repo](https://github.com/junjizhi/jaguar_orm_insert_many) to reproduce this.

Running the below app and the test function:

[code]

You would see this error right away:

<img width="678" alt="image" src="https://user-images.githubusercontent.com/2715151/71794508-d2f2ed80-300f-11ea-96ca-40206ce01633.png">

Text error messages:
[code]

@tejainece @jaumard Hope t

[2020-01-08 13:52] outofculture opened #176 "SqfliteAdapter needs to quote column names"
Column names can, in theory, be the same as sqlite keywords, so long as they are always surrounded in double-quotes in the generated sql. `SqlBuilder` from `package:sqflite/src/sql_builder.dart` already does this, so it might be enough to reimplement all the different compose functions as just calls to their respective `SqlBuilder` methods, e.g. `composeInsert` becomes `return SqlBuilder.insert(in

[2020-01-13 03:51] JamesMcIntosh commented on #97
@tejainece @jaumard When inserting into the table the following error is shown in the Android log

**table my_table has 15 columns but 14 values were supplied**

The `insertMany()` code uses the generated `toSetColumns()` method which explicitly excludes the id value from the returned `Set` if the supplied value for id is `null`.

This causes the error because the generated insert statement in `In

[2020-02-02 22:35] gpibarra opened #177 "Methods Create vs Alter"
"AddStr" in create vs "AddString" in alter
"AddDateTime" in create vs "AddDatetime" in alter

[2020-02-27 10:17] devjeff commented on #167
Concerning database migration: Which solution of the following would be better?

1. Provide a possibility to handle the migration via the SqfliteAdapter, e. g. by passing an 'onUpgrade' and 'onDowngrade' function.
2. Create a DB migration solution directly within the Jaguar ORM library that is independent of the underlying DB adapter and thus would work with every database.

[2020-02-27 10:22] devjeff commented on #4
The Floor approach looks nice, but it is still SQFlite specific. A migration implementation directly in the jarguar orm package would provide a possibility to handle DB migrations independently of the used database.

[2020-03-19 19:07] andredealmei opened #178 "Should support inherited classes"
My entities share common columns:
[code]

When inheriting from the above class:
[code]

code generation not generate fields from abstract class;

gen code:
[code]

[2020-03-31 06:40] Adenosperma1 opened #179 "jaguar_query_sqljocky StreamResults can't be assigned to type Results"
File: jaguar_query_sqljocky-2.2.4/lib/src/adapter.dart

Error: A value of type 'StreamedResults' can't be assigned to a variable of type 'Results'.

Fix: Need to destream before setting to results

Find all occurances in adapter of this line :
sj.Results results = await _connection.execute(stStr);

Replace with this::
sj.Results results = await destream(await _connection.execute(stStr));;

Using t

[2020-03-31 06:42] Adenosperma1 opened #180 "jaguar_query_sqljocky-2.2.4/adapter.dart missing Alter, insertMany, updateMany, upsert, upsertMany"
jaguar_query_sqljocky-2.2.4/lib/src/adapter.dart

Missing functions:

these can be used a temp fix:

  @override
  Future<void> alter(Alter statement) {
    throw UnimplementedError('TODO need to be implemented');
  }

  @override
  Future<void> insertMany<T>(InsertMany statement) {
    throw UnimplementedError('TODO need to be implemented');
  }

  @override
  Future<void> updateMany(UpdateMany s

[2020-03-31 06:46] Adenosperma1 opened #181 "jaguar_query_sqljocky-2.2.4/adapter.dart, find(Find st) method returns wrong type"
Method: Future<List<Map>> find(Find st)
Error: A value of type 'StreamedResults' can't be assigned to a variable of type 'Results'.

Fix?:

  Future<List<Map>> find(Find st) async {
    String stStr = composeFind(st);

    sj.StreamedResults streamedResults = await _connection.execute(stStr);

    List<sj.Row> rows = await streamedResults.toList();
    List<sj.Field> fields = streamedResults.field

[2020-03-31 06:47] Adenosperma1 opened #182 "jaguar_query_sqljocky-2.2.4/lib/src/adapter.dart"
File: jaguar_query_sqljocky-2.2.4/lib/src/adapter.dart

inconsistent method name?

Future<int> delete() async {

should it be changed to remove()

to match the underlying functions?

[2020-04-09 23:54] linuxjet opened #183 "upsert: critical error in update"
build_runner is not creating the function correctly for the update.  I have included a section of generated code.

if "isForeignKeyEnabled" the retId is getting set to Future<int> instead of int and is causing an fatal error in cascade.  I have ** highlighted the sections.

[code]

[2020-04-10 00:35] jamespet77 commented on #183
Wrong package.

[2020-04-10 00:35] #183 closed

[2020-04-17 09:51] Skuallpa opened #184 "InsertMany with primaryKey set to auto"
Hello,

My model as the primary key set auto
[code]

When I'm trying to insert many of those object at once using insertMany, I got the error that the table has one more column that the values supplied:

[code]

`table myTable has 3 columns but 2 values were supplied`

This works if I insert using a loop like below, but this is probably much heavier in term of performance:

[code]

How to use "ins

[2020-04-17 17:36] AnuragReddy2000 opened #185 "Error with SQLite: E/SQLiteLog(22990): (1) near ")": syntax error"
This is the error I get when i try to insert a row into the table :

[  +94 ms] E/SQLiteLog(22990): (1) near ")": syntax error
[  +17 ms] I/flutter (22990): error DatabaseException(near ")": syntax error (code 1 SQLITE_ERROR): , while compiling:
CREATE TABLE Events (
[   +3 ms] I/flutter (22990):             Id TEXT NOT NULL PRIMARY KEY,
[  +13 ms] I/flutter (22990):             Text TEXT NOT NULL

[2020-04-17 17:36] #185 closed

[2020-04-21 19:24] Skuallpa commented on #97
Using ```upsertMany``` also worked for me.

[2020-05-04 13:48] Park57 opened #186 "Methods missing of Bean"
I'm following the tutorial for jaguar_orm and i have a problem.

My class userBean don't find the method "insert" "createTable" "update" and "remove" .

But i have "drop", "findwhere"  "removeAll" ...

I have the same code than the tutorial

Thanks for your attention !

[2020-05-04 14:10] #186 closed

[2020-05-06 09:10] Park57 opened #187 "UnimplementedError: InsertMany is not implemented yet!"
Hello ! i don't understand that error

`main() async {

  final _adapter = PgAdapter('bibliotheque', username: 'postgres', password: 'password1234');

  await _adapter.connect();
  //create beans
  final albumBean = AlbumBean(_adapter);

  Album slipknot = new Album("We are not",1687);
  Album skillet = new Album("Victorious",1745);
  Album amonamarth = new Album("Berserker",2038);

  List<Album>

[2020-05-07 08:22] Park57 opened #188 "Field artisteMorceau has exception: Exception: Field type not recognised: Artiste!"
It is possible to have an object Field ?

`class Morceau {
  @PrimaryKey(auto: true, isNullable: false)
  int codeMorceau;

  @Column(length: 30, isNullable: true)
  String titreMorceau;

  @BelongsTo.many(ArtisteBean, refCol: 'codeArtiste')
  Artiste artisteMorceau;
}
`

`class Artiste {

  @PrimaryKey(auto: true, isNullable: false)
  int codeArtiste;

  @Column(length: 30, isNullable: true)
  St

[2020-05-31 21:38] linuxjet opened #189 "Add ability to prevent empty string insert"
Can an option be added to Column to prevent an empty string.

create table foo (bar TEXT, CHECK(bar <> '')

[2020-06-05 12:54] linuxjet opened #190 "Print SQL from Find statement"
Is it possible to print the generated SQL from a Find statement?  I am trying to recreate some rather complicated queries and would like to know if it is correct?

[2020-06-07 21:23] TheDevelolper commented on #172
This question has been open since December... I could really do with an answer to this too!

[2020-06-10 03:02] linuxjet opened #191 "Web DB support"
Any plans on supporting Flutter web?  Or is it already supported and I am doing something wrong?

[2020-06-12 07:36] tejainece commented on #191
We need an adapter support for it. It doesn't exist today. Please feel free to contribute.

[2020-06-13 11:26] devjeff commented on #191
Hey, I've seen that the development of an [sqflite_web](https://github.com/deakjahn/sqflite_web) has started. Unfortunately, it's not that mature so far.

An other alternative would be to use the [moor package](https://pub.dev/packages/moor_flutter), which already has support. You would still need to write an adapter for it. It seems to be strange to create an adapter for Moor, as it provides a co

[2020-07-10 16:25] jbrechbuehl commented on #161
Hi,

I would also like to be able to use the AUTOINCREMENT keyword.

Thank you

[2020-07-12 23:33] JamesMcIntosh commented on #161
@jbrechbuehl As a hack when creating the tables you can add AUTOINCREMENT to the create statement by replacing:
 `INTEGER PRIMARY KEY NOT NULL`
with
`INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL`

If you have existing tables then this update statement should make it open with AUTOINCREMENT enabled as the tables structure is reanalysed on startup.
`tx.rawUpdate(
        "UPDATE sqlite_master SET sql

[2020-07-26 07:11] JamesMcIntosh commented on #190
Something like this should be able to do it, you'll just have to choose the correct composer for your database, in this case SQFlite.
[code]

[2020-07-27 08:06] sarn0ld commented on #148
Any news here?

[2020-07-28 05:28] zhaochh75 opened #192 "jaguar_orm RangeError: Invalid value: Not in range 0..1114111, inclusive: -1"
jaguar_orm                                              RangeError: Invalid value: Not in range 0..1114111, inclusive: -1
it's a breaking change in dart 2.8. downgrade to dart 2.7

----------------------------------------------------------------------------------
await userBean.createTable ();

Error rangeerror: invalid value: not in range 0.. 1114111, inclusive: - 1

I found that dart SDK 2.8 is

[2020-08-10 13:00] muhammadfaheem-pycom opened #193 "part '<classaname>.jorm.dart'; not found"
I just got the code of a flutter app. I have to add some feature in it. I never use the Jaguar and its showing me some error
1)  part '<classaname>.jorm.dart'; not found
2) <beanclass>.insert not found
3)  <beanclass>.delete not found
etc

[2020-09-04 02:28] adrianseraspi12 opened #194 "Compatibility issues with build_runner"
There is a compatibility issues between build_runner and jaguar_orm_gen

`dev_dependencies:`
`build_runner: ^1.10.1`
 `jaguar_orm_gen: ^2.2.30`

Here is the error logs
`Because no versions of jaguar_orm_gen match >2.2.30 <3.0.0 and jaguar_orm_gen 2.2.30 depends on analyzer ^0.38.0, jaguar_orm_gen ^2.2.30 requires analyzer ^0.38.0.
And because build_runner >=1.10.1 <1.10.2 depends on analyzer 0.39.

[2020-09-06 19:40] unipenlabs opened #195 "PostgreSQL DateTime field "insert" crash"
The bug is inside:

postgresql/lib/src/compose/insert.dart

When try to insert a DateTime in a timestamp field:

ModelAccount(13bfc209-ae58-4aa5-a340-aa444cfac1a4, 2020-09-06 22:39:15.556270, 2020-09-06 22:39:15.556271, vasilb@gmail.com, vasko123)
Unhandled exception:
PostgreSQLSeverity.error 42601: syntax error at or near "22"

So it's trying to use 2020-09-06 22:39:15.556270 as integer and crash

[2020-09-09 13:58] Davletvm commented on #194
Try correct  pubspec.yaml  like this

name: klretail
description: Boilerplate application for Jaguar with a sample HTTP server using mux
version: 2.4.1
authors:
- Ravi Teja Gudapati <tejainece@gmail.com>
homepage: http://jaguar-dart.github.io

environment:
  sdk: ">=2.0.0<3.0.0"

dependencies:
  jaguar: ^2.4.4

  jaguar_orm: ^2.2.7

  jaguar_query_postgres: ^2.2.6

dev_dependencies:
  build_runner

[2020-09-10 07:18] Skuallpa opened #196 "BLOB type: Field type not recognised: Uint8List!"
Does `jaguar_orm` support creating field of type BLOB for SQFlite?

When trying to generate the bean using the following model

[code]
I got the following error:

`Field protobuffer has exception: Exception: Field type not recognised: Uint8List!
#0      Field.vType (package:jaguar_orm_gen/src/model/model.dart:21:7)`

From [sqflite](https://pub.dev/packages/sqflite) package, BLOB is a supported typ

[2020-09-14 02:01] jorgecasanovadev commented on #185
Sorry to bother you, what was the solution, did you found it?

[2020-09-14 02:26] AnuragReddy2000 commented on #185
Hi!, It's been sometime since I have worked on that project. I don't quite remember the exact cause of the problem, but I know that I figured it out very shortly after posting this question. That's why I closed it on the same day. The bug was in the oncreate function. I remember dabbling around with the syntax etc..... Sorry I couldn't be of better help.

[2020-09-17 19:22] benys commented on #194
I had a problem in my project. I had conflict with Flutter 1.20 and tests packages.

I fixed it by change in jaguar_orm_gen pubspec analyser to  analyzer: ^0.39.5.

Do you think about dependencies upgrade?

[2020-10-21 02:54] JamesMcIntosh commented on #193
@muhammadfaheem-pycom The jorm.dart files are generated when you run `flutter pub run build_runner build`, they contain the extensions to your Bean.

I'd recommending closing this issue if you've solved the problem in the meantime.

[2020-10-22 14:19] Skuallpa commented on #194
I'm also facing some conflicts after upgrading flutter to version 1.22.2, which forced me to upgrade some other packages.

Now, I'm facing a conflict using jaguar_orm and mockito at the same time:

Would it be possible to upgrade `jaguar_orm_gen` to use a more recent version of the `analyzer`?

[2020-11-19 02:58] RandyWei commented on #192
same for me!

`
Dart SDK version: 2.10.4 (stable) (Wed Nov 11 13:35:58 2020 +0100) on "macos_x64"
`
`
Unhandled exception:
RangeError: Invalid value: Not in inclusive range 0..1114111: -1
#0      StringBuffer.writeCharCode (dart:core-patch/string_buffer_patch.dart:74:9)
#1      PostgreSQLFormat.substitute (package:postgres/src/substituter.dart:83:29)
#2      Query.sendSimple (package:postgres/src/

[2020-11-27 13:11] #153 closed

[2021-01-16 11:57] Elghandour-eng commented on #185
Any one can help?

[2021-01-21 14:52] anjan713 commented on #185
db.execute('''
CREATE TABLE $table (
$columnKey TEXT NOT NULL PRIMARY KEY,
$columnText TEXT NOT NULL,
$columnDate TEXT NOT NULL,
$columnTime TEXT NOT NULL,
$columnSilent TEXT NOT NULL,
$columnRepeat TEXT NOT NULL,
)
''');

------------------------------------------
format should be written as
db.execute('''
CREATE TABLE $table (
$columnKey TEXT NOT NULL PRIMARY KEY,
$columnText TEXT NOT NULL,
$col

[2021-03-15 20:28] devjeff commented on #194
The package wasn't updated for a while. Since the other generation related packages like chopper, mockito etc. continue to improve they rely on a newer version of the analyzer package. Therefore, this package should be upgrade to use a newer analyzer version, as it becomes impossible to use both packages together (even with dependency overrides).

[2021-03-15 22:19] tejainece commented on #194
I will fix it

[2021-03-16 10:17] devjeff commented on #194
I think, a good analyzer version would be "analyzer: ^0.40.4", which is compatible with build_runner "^1.11.1". A higher version requires further dependency updates. This is also compatible with the latest version of chopper_generator.

[2021-04-06 08:05] wanze commented on #194
Would be nice to get a new release with updated dependencies, thanks! 😄 👍

[2021-04-07 07:06] tejainece commented on #194
I will fix this. I am currently working Jaguar web server project. As soon as I am done with it, I will work on this pavkage.

[2021-05-10 07:52] SebastienSCochet opened #197 "analyzer version too low for compatibility with null-safe packages"
Everything is in the title

[2021-05-26 23:32] SebastienSCochet commented on #4
Is there any update about this ? Any example of a simple implementation ? Thank you for your hard work

[2021-06-06 12:32] JamesMcIntosh commented on #197
@SebastienSCochet I did a null-safe migration of the LegacyV3 branch, not sure if that helps

https://github.com/JamesMcIntosh/jaguar_orm/tree/legacyV3

It's not too far of what's actually in master, doesn't seem like much has changed since the V3 branch

https://github.com/Jaguar-dart/jaguar_orm/compare/legacyV3

[2021-06-13 10:24] JamesMcIntosh commented on #170
Included in PR https://github.com/Jaguar-dart/jaguar_orm/pull/198

[2021-08-11 23:18] isaacfi commented on #197
Hi,

I tried to use your verson @SebastienSCochet, but I got a lot of problems with the generator, and I did my own implementation of null safety based on the next versions:

**Flutter: 1.22.6**

[code]

If you know how to publish in the flutter package repository [pub.dev](https://pub.dev/packages) or if you have some documentation to follow, please share it.

If you want to use my implementation

[2021-08-11 23:33] JamesMcIntosh commented on #197
@isaacfi That's a shame you had to do all the same work again when we could have improved the existing pull request...
It would be helpful to get some feedback on what wasn't working for you on the PR #198

[2021-08-11 23:42] isaacfi commented on #197
@JamesMcIntosh Is not the same work, you had too many issues, and I insist that are in generator, your implementation finished the build process with errors. Did you test the generator? with relationship? That's why I did my own and I drop extra files that doesn't nothing. I don't care if you don't want to consider it.

BR

[2021-08-11 23:47] isaacfi commented on #197
@JamesMcIntosh Is not the same work, you have too many issues, and I insist that are in generator, your implementation finished the build process with errors. Did you test the generator? with relationships? That's why I did my own and I deleted extra files that doesn't nothing. I don't care if you don't want to consider it.

BR

[2021-08-12 03:38] JamesMcIntosh commented on #197
Hi @isaacfi,
By "same" I mean we both did work to get the code null-safe.
I have tested but not with relationships, thanks for letting me know. I'll see if the example projects have some good test cases.
It's always good to consider other peoples input, ideas and help, I will review what you've done and see what can be brought into the PR for the legacyV3 branch. Thanks!

@tejainece do you have an

[2021-09-22 14:35] dedeweb commented on #197
@isaacfi Why creating a new repo instead of forking this one?
Your work doesn't work completely too : for example, one-to-many relation doesn't work.
I started from your repo ( https://github.com/isaacfi/jaguar_orm_nullsafe ) and created a pull request with some modifications (one-to-many and others) : https://github.com/Jaguar-dart/jaguar_orm/pull/199

@JamesMcIntosh Sorry I created another PR, b

[2021-09-22 15:17] isaacfi commented on #197
Hi @dedeweb,

I have one-to-many relationships in my project, the only that I need was change the creation of the related Beans. For example: I have a table named JobCategory that has one to many relationship with the table Job (One job category has many jobs). And this is the code of my model:

For Job Category:

[code]

And for Job:

[code]

As you can see the relationship beans, are created as

[2021-09-24 07:29] dedeweb commented on #197
Sorry, but it didn't work for me, I always had a "mismatching association type"' exception

 In parser.dart line 97, you compare byHasMany with other.hasMany, but byHasMany is affected with foreign.byHasMany which should be nullable and is not.

[2022-01-29 08:17] fredrickrogath commented on #185
$columnRepeat TEXT NOT NULL,     <=== from that line just make it without comma to be  $columnRepeat TEXT NOT NULL

remove the comma for the syntax to work,        Happy coding

[2022-03-17 07:07] Quwaysim commented on #185
Thank you so much for this

[2022-03-17 08:51] fredrickrogath commented on #185
Thanks for letting me know, and I wish you the best of luck with your
coding.

On Thu, Mar 17, 2022 at 10:07 AM Qaasim Muhammad Akorede <
***@***.***> wrote:

[2022-03-21 04:43] ShubhranshuArya commented on #185
FOR FLUTTER DEVELOPERS --

You need to remove space from table name and "(" and you have to remove the ending ",".

This give an error-
db.execute(''' CREATE TABLE $table ( $columnKey TEXT NOT NULL PRIMARY KEY, $columnText TEXT NOT NULL, $columnDate TEXT NOT NULL, $columnTime TEXT NOT NULL, $columnSilent TEXT NOT NULL, $columnRepeat TEXT NOT NULL, ) ''');

This solves the error-
db.execute(''' CRE

[2022-03-24 07:32] wechulimaven commented on #185
Thank you so much for this.. You saved me one more day

[2022-05-11 10:31] Abduraimoff commented on #185
Good job , that works

[2022-06-21 03:10] #166 closed

[2022-09-05 09:03] Sujit-sahoo3571 commented on #185
Yes it is working now after i remove the space and extra ','  ..... Thanks a lot.